<div class="mobile-background" fxLayout="column" fxLayoutAlign="start stretch" (click)="hide()">
    <div class="mobile-header" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ti-arrow-left" (click)="hide()"></h2>
        <h1 class="space-left-16">Upozornenia</h1>
    </div>
    <lmn-notification-list [lmnItems]="notifications" [lmnAutocomplete]="autocomplete" (lmnSelect)="onSelect($event)" (click)="$event.stopPropagation()"></lmn-notification-list>
</div>