.notification-icon {
    cursor: pointer;
    padding: 16px;
    transition: background-color 480ms ease;
}

.notification-icon:hover, .notification-icon.has-new, .notification-icon.visible {
    color: #FF5D5E;
}

.notification-icon.visible {
    background-color: #ffffff;
}

.notification-icon-bell {
    font-size: 15px;
}

.notification-icon-count {
    font-size: 13px;
    padding: 0px 8px 0px 0px;
}