<div class="notification">
    <div class="icon-with-number notification-icon" [ngClass]="{'visible': autocomplete.isVisible(), 'has-new': getNewCount() > 0}" fxLayout="row" fxLayoutAlign="start center" (click)="toggle($event)" title="upozornenia">
        <span class="notification-icon-count" [hidden]="!getNewCount()">{{getNewCount()}}</span>
        <span class="ti-bell notification-icon-bell"></span>
    </div>
    <lmn-notification-list [lmnItems]="notifications" [lmnAutocomplete]="autocomplete" (lmnClose)="toggle($event)" (lmnSelect)="onSelect($event)"></lmn-notification-list>
</div>