<div class="notification-picker drop-shadow" [hidden]="!autocomplete.isVisible()" [@fadeHiddenState]="autocomplete.isVisible()">
    <div class="autocomplete-scroll-pane">
        <div class="notification-item" *ngFor="let item of notifications; let i = index">
            <lmn-notification-item [lmnItem]="item" [lmnSelected]="autocomplete.getSelected() == i" (mouseover)="autocomplete.setSelected(i)" (click)="onSelect(item, $event)"></lmn-notification-item>
        </div>
        <lmn-no-content-text lmnSmall="true" [hidden]="notifications.length" class="no-content">
            <div>Nemáš žiadnu notifikáciu</div>
        </lmn-no-content-text>
    </div>
    <div class="seen-all-button" [ngClass]="{'selected': autocomplete.getSelected() == notifications.length}" (mouseover)="autocomplete.setSelected(notifications.length)" (click)="onSelect(null, $event)">Označiť všetky ako videné</div>
</div>