<div class="notification-item" [ngClass]="{'selected': selected, 'seen': item.get('seen')}">
    <h3>{{item.get('title')}}</h3>
    <span class="label-info side-text">{{item.get('text')}}</span>
</div>