.notification-picker {
    display: block;
    position: absolute;
    right: 0px;
    width: 100%;
    background-color: #EDEFF3;
    z-index: 1;
}

.no-content {
    background-color: #ffffff;
    padding: 16px;
    border-left: 2px solid transparent;
}

.seen-all-button {
    display: block;
    background-color: #ffffff;
    padding: 16px;
    margin: 2px 0px 0px 0px;
    border-left: 2px solid transparent;
    transition: all 480ms ease;
    cursor: pointer;
}

.seen-all-button.selected {
    border-left-color: #FF5D5E;
}