.notification-item {
    display: block;
    background-color: #ffffff;
    padding: 16px;
    border-left: 2px solid transparent;
    transition: all 480ms ease;
    cursor: pointer;
}

.notification-item.selected {
    border-left-color: #FF5D5E;
}

.side-text {
    padding: 8px 0px 0px 0px;
}

.notification-item.seen h3 {
    color: #9EA6B8;
}