<div fxFill fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="no-content" [ngClass]="{'small': isSmall()}"><ng-content></ng-content></div>
    </div>
</div>
