:host {
    display: block;
}

.no-content {
    color: #C8D0DD;
    text-align: center;
    font-size: 24px;
}

.no-content.small {
    font-size: 15px;
}

::content a:hover {
    color: #28B76A;
    border-color: #28B76A;
}
