<div class="calendar-cell calendar-cell--week week-event palette-border {{getColorClass()}}" [ngClass]="{'priority': hasPriority()}" title="{{getTitle()}}" (click)="goToEvent()">
    <div class="event-title dotdotdot">{{getTitle()}}</div>
    <div class="event-time">{{eventModel.printTime()}}</div>
</div>
