:host {
    display: block;
    width: 64px;
}

lmn-calendar-week-event {
    margin-top: 16px;
}
lmn-calendar-week-event:first-child {
    margin-top: 0px;
}

@media only screen and (max-width: 1279px) {
    :host {
        width: 48px;
    }
}