:host {
    display: block;
    width: 100%;
    min-height: 16px;
    cursor: pointer;
}

.week-event {
    box-sizing: border-box;
    border-left: 2px solid #1F2838;
    padding: 8px;
}

.event-title {
    color: #9EA6B8;
    font-weight: bold;
}
.week-event.priority .event-title {
    color: #FF5D5E;
}

.event-time {
    color: #9EA6B8;
    font-size: 13px;
    padding: 4px 0px 0px 0px;
}
.week-event.priority .event-time {
    color: #FF5D5E;
}

@media only screen and (max-width: 1279px) {
    .week-event {
        padding: 4px 0px 4px 8px;
    }
}