<div class="calendar-cell calendar-cell--month" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'disabled': isDisabled(), 'current': isCurrent(), 'active': isSelected(), 'priority': hasPriority()}" (click)="onClick($event)">
    <div class="calendar-event" fxLayout="row" fxLayoutAlign="center start">
        <div class="calendar-event-dot palette-bg {{getColorClass(2)}}" [ngClass]="{'empty': !hasEvent(2)}"></div>
        <div class="calendar-event-dot palette-bg {{getColorClass(0)}}" [ngClass]="{'empty': !hasEvent(0)}"></div>
        <div class="calendar-event-dot palette-bg {{getColorClass(1)}}" [ngClass]="{'empty': !hasEvent(1)}"></div>
        <div class="calendar-event-dot palette-bg {{getColorClass(3)}}" [ngClass]="{'empty': !hasEvent(3)}"></div>
    </div>
    <span>{{getDay()}}</span>
</div>
