<div class="calendar">
    <div [hidden]="!shouldShow('calendar')" [@fadeHiddenState]="shouldShow('calendar')">
        <div class="calendar-section calendar-section--top-big">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3>
                    <span class="icon ti-angle-left" (click)="getView().previous()"></span>
                    <span class="icon ti-angle-right" (click)="getView().next()"></span>
                    <span>{{getTitle()}}</span>
                </h3>
                <div fxLayout="row">
                    <span class="calendar-view-switch" (click)="activateView('week')" [ngClass]="{'active': isViewSelected('week')}">TÝŽDEŇ</span>
                    <span class="calendar-view-switch" (click)="activateView('month')" [ngClass]="{'active': isViewSelected('month')}">MESIAC</span>
                </div>
            </div>
            <div class="top-offset-32 calendar-pane-header" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(0)}">Po</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(1)}">Ut</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(2)}">St</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(3)}">Št</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(4)}">Pi</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(5)}">So</span>
                <span class="calendar-cell calendar-cell--header" [ngClass]="{'current': isCurrentDay(6)}">Ne</span>
            </div>
            <div class="top-offset calendar-cell-container">
                <div [hidden]="!isViewSelected('month')">
                    <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let row of rows(); let i = index;">
                        <lmn-calendar-month-cell *ngFor="let column of columns(); let j = index;" [lmnDate]="getMonthView().getCellDate(i * 7 + j)" [lmnCalendar]="getCalendar()" (lmnClick)="selectDay($event)"></lmn-calendar-month-cell>
                    </div>
                </div>
                <div [hidden]="!isViewSelected('week')" fxLayout="row" fxLayoutAlign="space-between start">
                    <lmn-calendar-week-cell *ngFor="let column of columns(); let i = index;" [lmnEvents]="getEvents(i)" (lmnClick)="selectDay($event)"></lmn-calendar-week-cell>
                </div>
            </div>
        </div>
        <div class="calendar-section calendar-section--vertical-big">
            <h3>{{getUpcommingEventTitle()}}</h3>
            <lmn-upcomming-event *ngFor="let event of getUpcomingEvents()" [@fadeIfState]="" [lmnEvent]="event"></lmn-upcomming-event>
            <div class="top-offset label-info" [hidden]="getUpcomingEvents().length > 0">
                Žiadna udalosť
            </div>
        </div>
        <div class="calendar-section">
            <a (click)="openCreate()"><span class="ti-plus"></span> Vytvoriť udalosť</a>
        </div>
    </div>
    <lmn-event-create-form [hidden]="!shouldShow('event-form')" [lmnCalendarevent]="editEvent" [lmnDate]="getCalendar().getSelected()" (lmnClose)="show('calendar')" (lmnSubmit)="onCreate($event)" [@fadeHiddenState]="shouldShow('event-form')"></lmn-event-create-form>
</div>
