.calendar {
    background-color: #EDEFF3;
}

.calendar h3 {
    color: #9EA6B8;
}

.calendar-section {
    background-color: #ffffff;
    padding: 16px;
    margin: 2px 0px 0px 0px;
}

.calendar-section:first-child {
    margin: 0px;
}

.calendar-section.calendar-section--top-big {
    padding-top: 32px;
}

.calendar-section.calendar-section--vertical-big {
    padding-top: 32px;
    padding-bottom: 32px;
}

.calendar-pane-header {
    font-size: 14px;
}

.calendar-cell-container {
    height: 400px;
}

.calendar-view-switch {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #9EA6B8;
}

.calendar-view-switch:last-child {
    padding: 8px 0px 8px 16px;
}

.calendar-view-switch:hover {
    color: #1F2838;
}

.calendar-view-switch.active {
    color: #1F2838;
}

.calendar-view-switch:first-child {
    margin: 0px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: #1F2838;
}

.calendar-cell {
    width: 56px;
}

.calendar-cell--header {
    margin: 0px 4px;
    padding: 0px 0px 0px 8px;
}
.calendar-cell--header.current {
    font-weight: bold;
}

.calendar-cell--month {
    position: relative;
    margin: 4px;
    height: 56px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    color: #9EA6B8;
    transition: all 480ms ease;
}

.calendar-cell--month:hover {
    border-color: #C8D0DD;
}

.calendar-cell--month.active {
    border-color: #1F2838;
    color: #1F2838;
}

.calendar-cell--month.disabled {
    color: #C8D0DD;
}

.calendar-cell--month.current {
    color: #1F2838;
}

.calendar-cell--month.priority, .calendar-event-date.priority {
    color: #FF5D5E;
}

.calendar-event {
    position: absolute;
    bottom: 8px;
}

.calendar-event-dot {
    position: relative;
    margin: 0px 2px;
    width: 6px;
    height: 6px;
    top: 0px;
    border-radius: 3px;
    transition: top 320ms ease, background-color 320ms ease;
}

.calendar-event-dot.empty {
    background-color: transparent;
}

.calendar-cell--month.active .calendar-event-dot:nth-child(1), .calendar-cell--month:hover .calendar-event-dot:nth-child(1) {

}
.calendar-cell--month.active .calendar-event-dot:nth-child(2), .calendar-cell--month:hover .calendar-event-dot:nth-child(2) {
    top: 4px;
}
.calendar-cell--month.active .calendar-event-dot:nth-child(3), .calendar-cell--month:hover .calendar-event-dot:nth-child(3) {
    top: 4px;
}
.calendar-cell--month.active .calendar-event-dot:nth-child(4), .calendar-cell--month:hover .calendar-event-dot:nth-child(4) {
}

@media only screen and (max-width: 1279px) {
    .calendar-cell {
        width: 40px;
    }

    .calendar-cell--month {
        height: 40px;
        border-radius: 20px;
        font-size: 13px;
    }

    .calendar-cell-container {
        height: 304px;
    }

    .calendar-section {
        padding-left: 0px;
        padding-right: 0px;
    }

    .calendar-section.calendar-section--top-big {
        padding-top: 16px;
    }

    .calendar-section.calendar-section--vertical-big {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}