<div class="calendar-section" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 fxLayout="row" fxLayoutAlign="start center">
            <span>
                <span *ngIf="calendarevent.get('public_id')">{{calendarevent.get('name')}}</span>
                <span *ngIf="!calendarevent.get('public_id')">Nová udalosť</span>
            </span>
            <div class="title-dot calendar-event-dot palette-bg {{getSubjectColorClass()}}"></div>
        </h3>
    </div>

    <div class="top-offset">
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="formBox.submit($event)">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="top-offset">
            <div>
                <select name="subject" class="lmn-select" [ngModel]="calendarevent.get('calendareventsubject.subject_id')" (ngModelChange)="calendarevent.set('calendareventsubject.subject_id', $event)" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0" class="select-option-none">Iná</option>
                    <option *ngFor="let item of subjects" [ngValue]="item.get('id')">{{item.get('subjectprototype.name')}}</option>
                </select>
            </div>
            <lmn-validation-error-shell [lmnControl]="form.get('name')">
                <input formControlName="name" type="text" placeholder="Názov" required />
            </lmn-validation-error-shell>
            <div [lmnValidationError]="form.get('location')">
                <input formControlName="location" type="text" placeholder="Miesto" />
            </div>
            <div>
                <textarea autosize name="description" placeholder="Popis" [ngModel]="calendarevent.get('description')" (ngModelChange)="calendarevent.set('description', $event)" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div>
                <lmn-switch name="allday" lmnLabel="Celý deň" [ngModel]="calendarevent.get('allday')" (ngModelChange)="calendarevent.set('allday', $event)" [ngModelOptions]="{standalone: true}"></lmn-switch>
            </div>
            <div [formGroup]="form.get('daterange')">
                <div [lmnValidationError]="form.get('daterange.eventstart')">
                    <lmn-datetimepicker formControlName="eventstart" lmnPlaceholder="Začiatok"></lmn-datetimepicker>
                </div>
                <div [lmnValidationError]="form.get('daterange.eventend')">
                    <lmn-datetimepicker formControlName="eventend" lmnPlaceholder="Koniec"></lmn-datetimepicker>
                </div>
            </div>
            <div>
                <select name="rule" class="lmn-select" [ngModel]="calendarevent.get('calendareventrules.rule')" (ngModelChange)="calendarevent.set('calendareventrules.rule', $event)" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of repeat" [ngValue]="item.value">{{item.name}}</option>
                </select>
            </div>
            <div>
                <lmn-switch name="highPriority" lmnLabel="Priorita" [ngModel]="highPriority" (ngMoelChange)="highPriority = $event" [ngModelOptions]="{standalone: true}"></lmn-switch>
            </div>
            <div [hidden]="calendarevent.get('calendareventsubject.subject_id') == 0" [@fadeHiddenState]="calendarevent.get('calendareventsubject.subject_id') != 0">
                <lmn-switch name="private" lmnLabel="Súkromná udalosť" [ngModel]="calendarevent.get('private')" (ngModelChange)="calendarevent.set('private', $event)" [ngModelOptions]="{standalone: true}"></lmn-switch>
            </div>
            <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
                <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (click)="close($event)">Zrušiť</button>
                <button type="submit" name="create" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}">
                    <span class="lmn-btn-submit--default">
                        <span *ngIf="calendarevent.get('public_id')">Upraviť</span>
                        <span *ngIf="!calendarevent.get('public_id')">Vytvoriť</span>
                    </span>
                    <span class="lmn-btn-submit--focus ti-check"></span>
                </button>
            </div>
        </div>
    </form>
</div>
