:host {
    display: block;
}

h3, label {
    color: #9EA6B8;
}

:host >>> input, :host >>> select.lmn-select, :host >>> textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    border: solid 1px #C8D0DD;
    outline: none;
}

select.lmn-select option {
    color: #1F2838;
}

input:focus, select.lmn-select:focus {
    border-color: #28B76A;
    color: #28B76A;
}

:host .title-dot {
    margin: 0px 0px 0px 8px;
}

.lmn-success {
    color: #28B76A;
}

:host >>> .validation-error input, :host >>> .validation-error input:focus, :host >>> .validation-error textarea, :host >>> .validation-error textarea:focus, :host >>> .validation-error select, :host >>> .validation-error select:focus {
    border-color: #FF5D5E;
    color: #FF5D5E;
}