<div class="mobile-background" fxLayout="column" fxLayoutAlign="start stretch" (click)="hide()">
    <div class="mobile-header" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ti-arrow-left" (click)="hide()"></h2>
        <h1 class="space-left-16">Kalendár</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <lmn-calendar (click)="$event.stopPropagation()"></lmn-calendar>
    </div>
</div>