<div class="calendar-event-agenda top-offset">
    <div class="calendar-event-agenda-detail" fxLayout="row" fxLayoutAlign="start center" (click)="goToEvent()">
        <div class="calendar-event-dot palette-bg {{getColorClass(event.event_id)}}"></div>
        <div class="calendar-event-date" fxFlex="33" [ngClass]="{'priority': hasPriority(event.event_id)}">{{calendarevent.printDatetime(event.eventdate)}}</div>
        <div class="calendar-event-name" fxFlex>{{calendarevent.get('name')}}</div>
    </div>
</div>