:host {
    display: block;
}

.calendar-event-agenda-detail {
    cursor: pointer;
}

.calendar-event-date {
    color: #9EA6B8;
    font-size: 13px;
    padding: 0px 8px;
}

.calendar-event-name {
    font-size: 13px;
    cursor: pointer;
}

.calendar-event-name:hover {
    color: #28B76A;
}