<div class="main-container" fxLayout="row">
    <div class="layout-nav" fxShow="false" fxShow.gt-md>
        <ng-content select="[lmn-lout-nav]"></ng-content>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center start" class="flexbox-dotdotdot-fix">
        <div class="layout-container flexbox-dotdotdot-fix" fxFlex fxLayout="row">
            <div class="layout-body" fxFlex>
                <ng-content select="[lmn-lout-body]"></ng-content>
            </div>
            <div class="layout-side" fxShow="false" fxShow.gt-md fxFlexAlign="{{getSideAlign()}}">
                <ng-content select="[lmn-lout-side]"></ng-content>
            </div>
        </div>
    </div>
</div>
