<div fxLayout="row" fxLayoutAlign="center start">
    <div class="layout-body" fxFlex>
        <ng-content select="[lmn-lout-body]"></ng-content>
    </div>
    <div class="layout-side" fxShow="false" fxShow.gt-md fxFlexAlign="{{getSideAlign()}}">
        <ng-content select="[lmn-lout-side]"></ng-content>
    </div>
</div>
