.lmn-dropdown {
    position: relative;
}

.lmn-dropdown-icon {
    padding: 8px;
    color: #1F2838;
    cursor: pointer;
}

.lmn-dropdown-icon:hover, .lmn-dropdown-icon--active {
    color: #28B76A;
}

.lmn-dropdown-menu {
    position: absolute;
    padding: 8px 0px;
    display: block;
    background-color: #ffffff;
    border: 1px solid #28B76A;
    font-size: 14px;
    z-index: 1;
}

.lmn-dropdown-menu--left {
    right: 0px;
    left: auto;
}

.lmn-dropdown >>> .lmn-dropdown-menu-item {
    padding: 8px 16px;
    white-space: nowrap;
}