<div class="lmn-dropdown">
    <div class="lmn-dropdown-icon lmn-ti-vertical" [ngClass]="{'lmn-dropdown-icon--active': isVisible()}" (click)="toggle()" title="možnosti">
        <span class="{{getIcon()}}"></span>
    </div>
    <div class="lmn-dropdown-menu drop-shadow" [ngClass]="{'lmn-dropdown-menu--left': isDropdownLeft}" *ngIf="isVisible()" [@fadeIfState]="">
        <ng-content></ng-content>
    </div>
</div>