<div class="menu-item" [ngClass]="{'active': item.isActive()}" (click)="onClick()" title="{{item.description}}" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-md="space-between stretch">
    <div class="menu-item-name dotdotdot" fxFlexOrder="2" fxLayout="row" fxLayoutAlign="start center"><h2>{{item.title}}</h2></div>
    <div class="menu-item-notification palette-bg {{item.palette}}" fxFlexOrder="1" fxFlexOrder.gt-md="3" fxLayout="row" fxLayoutAlign="center center"><span [hidden]="item.getNotificationCount() == 0">{{getNotificationCount()}}</span></div>
</div>
