.menu-item {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 92%;
    height: 56px;
    padding: 0px 0px 0px 16px;
    margin: 16px 0px;
    cursor: pointer;
    color: #9EA6B8;
    background-color: #ffffff;
    transition: width 320ms ease;
}

.menu-item-notification {
    font-size: 11px;
    width: 24px;
}

.menu-item:hover, .menu-item.active {
    width: 100%;
    color: #1F2838;
}

@media only screen and (max-width: 1279px) {
    .menu-item {
        height: 32px;
        margin: 8px 0px;
        padding: 0px;
    }

    .menu-item-notification {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .menu-item-name {
        padding: 0px 0px 0px 16px;
    }
}