<div>
    <div *ngIf="!isLoading()" [@fadeIfState]="">
        <lmn-menu-item *ngFor="let key of keys" [item]="items.get(key)" (lmnClick)="onClick($event)"></lmn-menu-item>
    </div>
    <div *ngIf="isLoading()" [@fadeIfState]="">
        <lmn-menu-item-loading *ngFor="let dummy of dummyItems" [item]="dummy"></lmn-menu-item-loading>
    </div>
<div>
