.mobile-menu-item {
    width: 136px;
}

.nav-tabs {
    padding: 16px 0px;
    background-color: #ffffff;
}

.nav-tabs-item {
    padding: 8px 16px;
    font-size: 15px;
    color: #9EA6B8;
    cursor: pointer;
}
.nav-tabs-item:first-child {
    padding-left: 0px;
}
.nav-tabs-item:last-child {
    padding-right: 0px;
}

.nav-tabs-item:hover, .nav-tabs-item.selected {
    color: #1F2838;
}