<div fxLayout="column" class="mobile-background" (click)="hide()">
    <div class="mobile-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <h2 class="ti-arrow-left" (click)="hide()"></h2>
            <h1 class="space-left-16">Menu</h1>
        </div>
        <lmn-signout></lmn-signout>
    </div>
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="end start">
        <lmn-menu-item  class="mobile-menu-item" *ngFor="let key of keys" [item]="items.get(key)"></lmn-menu-item>
    </div>
    <div fxFlex="noshrink" class="nav-tabs" fxLayout="row" fxLayoutAlign="start center">
        <div class="nav-tabs-item"><a [routerLink]="['/']"><span class="ti-home"></span></a></div>
        <div class="nav-tabs-item" [ngClass]="{'selected': tab.isSelected()}" *ngFor="let tab of tabs" (click)="onTabClick(tab)">{{tab.getName()}}</div>
    </div>
</div>
