<div [hidden]="isHidden()" [@fadeHiddenState]="!isHidden()" class="datepicker drop-shadow">
    <div class="calendar-section">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h3>
                <span class="icon ti-angle-left" (click)="previous()"></span>
                <span class="icon ti-angle-right" (click)="next()"></span>
                <span>{{getTitle()}}</span>
            </h3>
        </div>
        <div class="top-offset calendar-pane-header" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="datepicker-header-cell">Po</span>
            <span class="datepicker-header-cell">Ut</span>
            <span class="datepicker-header-cell">St</span>
            <span class="datepicker-header-cell">Št</span>
            <span class="datepicker-header-cell">Pi</span>
            <span class="datepicker-header-cell">So</span>
            <span class="datepicker-header-cell">Ne</span>
        </div>
        <div class="top-offset">
            <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let row of rows(); let i = index;">
                <lmn-datepicker-month-cell *ngFor="let column of columns(); let j = index;" [lmnDate]="getCellDate(i * 7 + j)" [lmnSelected]="selected" [lmnPage]="page" (lmnClick)="select($event)"></lmn-datepicker-month-cell>
            </div>
        </div>
    </div>
</div>