.datepicker {
    position: absolute;
    top: 52px;
    width: 280px;
    background-color: #FFFFFF;
    border: 1px solid #28B76A;
    padding: 16px;
    z-index: 1;
}

.datepicker-header-cell {
    width: 32px;
    text-align: center;
}

.icon {
    cursor: pointer;
    color: #9EA6B8;
}

.icon:hover {
    color: #1F2838;
}