<div class="picker-circle-cell" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'disabled': isDisabled(), 'current': isCurrent(), 'active': isSelected()}" (click)="onClick($event)">
    <span>{{getDay()}}</span>
</div>
