<div class="datetimepicker" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="66"> 
        <input name="date" type="datetime" placeholder="{{placeholder}}" [lmnPickerInput]="datepicker" [ngModel]="getStringValue()" (ngModelChange)="setStringValue($event)" [ngModelOptions]="{standalone: true}" />
        <lmn-datepicker [lmnDate]="getDate()" (lmnChange)="setDate($event)" #datepicker></lmn-datepicker>
    </div>
    <lmn-timepicker lmnName="time" [lmnDate]="getTime()" (lmnChange)="setTime($event)"></lmn-timepicker>
</div>