<div class="file-download">
    <a href="/file/{{file.get('public_id')}}" download>
        <div class="file-info" fxLayout="row" fxLayoutAlign="start center">
            <span class="ti-file"></span>
            <span class="file-name">{{file.get('name')}}</span>
            <span class="ti-download"></span>
        </div>
    </a>
</div>