.file-info span, .upload-progress span {
    padding: 0px 0px 0px 8px;
}

.file-info span:first-child, .upload-progress span:first-child {
    padding: 0px;
}

.file-name {
    min-width: 134px;
    width: 134px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}