<div class="file-upload-over" fxLayout="row" fxLayoutAlign="center center" [hidden]="!hasFileInDoc() && !hasFocus()" [ngClass]="{'active': hasFocus()}" ng2FileDrop (dragenter)="mouseover($event)" (dragleave)="mouseout($event)" [ng2FileDropDisableStyles]="true" (ng2FileDropFilesDropped)="onFileDrop($event)" [ng2FileDropAcceptMultiple]="true">
    <h1><span class="ti-upload"></span></h1>
</div> 