:host {
    display: block;
}

.file-upload-over {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #1F2838;
    opacity: 0.8;
}

.file-upload-over.active {
    color: #28B76A;
}