.file-upload {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px 16px;
    background-color: #EDEFF3;
}

.upload-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #28B76A;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 13px;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
}

.upload-progress.error {
    background-color: #FF5D5E;
}

.file-info {
    color: #1F2838;
    font-size: 13px;
}

.ti-close {
    cursor: pointer
}