<div>
    <input type="file" multiple #fileInput (change)="onSelect($event)" [hidden]="true" />
    <button type="button" name="upload" class="lmn-btn lmn-btn-link" (click)="fileInput.click()" (focus)="onFocus($event)" (blur)="onBlur($event)">
        <span class="icon-with-number">
            <span>{{getText()}}</span>
            <span class="ti-clip"></span>
        </span>
    </button>
</div>