<div class="file-upload" (mouseover)="mouseover($event)" (mouseout)="mouseout($event)">
    <div class="upload-progress" [ngClass]="{'error': error}" [style.width]="getProgressPercentage()" fxLayout="row" fxLayoutAlign="start center">
        <span class="ti-file"></span>
        <span class="file-name">{{file.name}}</span>
        <span [ngClass]="{'ti-check': done, 'ti-na': error}" [hidden]="showClose()">
            <span [hidden]="done || error">{{getProgressPercentage()}}</span>
        </span>
        <span class="ti-close" [hidden]="!showClose()" (click)="onClose($event)"></span>
    </div>
    <div class="file-info" fxLayout="row" fxLayoutAlign="start center">
        <span class="ti-file"></span>
        <span class="file-name">{{file.name}}</span>
        <span style="overflow:hidden;" [ngClass]="{'ti-check': done, 'ti-na': error}" [hidden]="showClose()">
            <span [hidden]="done || error">{{getProgressPercentage()}}</span>
        </span>
        <span class="ti-close" [hidden]="!showClose()" (click)="onClose($event)"></span>
    </div>
</div>