.file-download {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px 16px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 480ms ease;
}

.file-download:hover .file-info {
    color: #1F2838;
}

.file-download:active {
    background-color: #FFE66D;
}

.file-info {
    color: #9EA6B8;
    font-size: 13px;
}