:host {
    display: block;
}

:host >>> input {
    line-height: 1.20;
}

:host >>> input, :host >>> textarea {
    position: relative;
    width: 100%;
}

:host:not(.active) >>> input, :host:not(.active) >>> textarea, :host:not(.active) >>> select.lmn-select {
    border: none;
}

:host >>> input:focus {
    outline: 0;
}

:host >>> select.lmn-select {
    background: transparent;
    box-sizing: border-box;
    width: 100%;
}

.form-box {
    position: relative;
    background-color: transparent;
    padding: 16px;
    border-left: solid 2px #C8D0DD;
    transition: all 480ms ease;
}

.form-box.compact {
    padding: 0px 16px;
}

:host.active .form-box {
    background-color: #ffffff;
    border-left-color: transparent;
}

:host.active .form-box.compact {
    padding: 16px;
}
