<div ngbDropdown>
    <div class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>{{getText()}}</div>
    <div class="dropdown-menu" aria-labelledby="dropdownConfig">
        <div *ngFor="let item of items">
            <ng-template>
                <ng-content></ng-content>
            </ng-template>
        </div>
    </div>
</div>
