<div fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'hasFocus': hasFocus()}">
    <label [hidden]="!label" (click)="onLabelClick($event)">{{label}}</label>
    <ui-switch tabindex="0" size="small" color="#28B76A" [ngModel]="_value" (ngModelChange)="setValue($event)" (keypress)="onKeypress($event)" (focus)="onFocus()" (blur)="onBlur()"></ui-switch>
</div>
