:host {
    display: block;
    padding: 4px 0px;
}

:host label {
    color: #9EA6B8;
    padding: 0px 16px 0px 0px;
    cursor: pointer;
}

:host .hasFocus label {
    color: #28B76A;
}

:host ui-switch {
    outline: none;
    border: solid 1px transparent;
}

:host ui-switch:focus {
    border-color: #28B76A;
}
