<div fxLayout="row" class="lmn-input-container">
    <button type="button" class="lmn-btn control" (click)="decrementValue()" (focus)="formBox.focus('dec')" (blur)="formBox.blur('dec')">
        <span class="ti-minus"></span>
    </button>
    <input id="{{id}}" class="lmn-input--no-border lmn-input--no-padding lmn-input--no-margin" type="number" name="numberInput" [ngModel]="getValue()" (ngModelChange)="setValue($event)" (focus)="formBox.focus('input')" (blur)="formBox.blur('input')" />
    <button type="button" class="lmn-btn control" (click)="incrementValue()" (focus)="formBox.focus('inc')" (blur)="formBox.blur('inc')">
        <span class="ti-plus"></span>
    </button>
</div>