:host {
    display: block;
}

:host button {
    background-color: transparent;
    border: none;
    color: #9EA6B8;
    cursor: pointer;
}

:host button:hover, :host button:focus {
    color: #1F2838;
}

:host input {
    width: 32px;
    text-align: center;
}