.picker {
    position: absolute;
    top: 52px;
    background-color: #FFFFFF;
    border: 1px solid #28B76A;
    box-shadow: 0px 0px 8px rgba(31, 40, 56, 0.4);
    padding: 16px;
    z-index: 1;
    max-height: 400px;
    overflow: auto;
}

.picker-input-container {
    position: relative;
}

.picker--right {
    right: 0px;
}

.picker-circle-cell {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: transparent;
    border: solid 1px transparent;
    cursor: pointer;
    color: #9EA6B8;
}

.picker-circle-cell:hover, .picker-circle-cell.active {
    border-color: #28B76A;
    color: #28B76A;
}

.picker-circle-cell.disabled {
    color: #C8D0DD;
}

.picker-circle-cell.current {
    color: #1F2838;
}

@media only screen and (max-width: 1279px) {
    .picker {
        max-height: 240px;
    }

    .picker-s--right {
        right: 0px;
    }
}