<div class="lmn-text-enrich-autocomplete drop-shadow" [hidden]="!visible">
    <div *ngFor="let item of list; let $index = index" class="lmn-text-enrich-autocomplete-item" [ngClass]="{'active': $index == active}" on-mouseover="activate($index)" (mousedown)="onClick()" fxLayout="row" fxLayoutAlign="start center">
        <div class="lmn-autocomplete-image" [hidden]="!item.hasImage()"><img src="{{item.getImage()}}" /></div>
        <div class="lmn-autocomplete-label">{{item.getLabel()}}</div>
    </div>
</div>
