<div class="lmn-text-input">
    <textarea #input autosize rows="1" name="textareaAutocomplete" placeholder="{{placeholder}}" [ngModel]="getValue()" (focus)="onFocus($event)" (blur)="onBlur($event)" [lmnInputTextEnrich]="getValue()" (lmnEnrich)="onChange($event)" (keydown)="onKeydown($event)"></textarea>
</div>
<lmn-text-enrich-autocomplete [lmnVisible]="isAutocompleteVisible()" [lmnList]="autocompleteList" [(lmnActiveItem)]="activeItem" (lmnSelect)="select()"></lmn-text-enrich-autocomplete>
