.lmn-text-enrich-autocomplete {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 5;
}

.lmn-text-enrich-autocomplete-item {
    display: block;
    background-color: #ffffff;
    padding: 16px;
    border-left: 2px solid transparent;
    transition: all 480ms ease;
    cursor: pointer;
}

.lmn-text-enrich-autocomplete-item.active {
    border-left-color: #28B76A;
}

.lmn-autocomplete-image {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin: 0px 8px 0px 0px;
    overflow: hidden;
}

.lmn-autocomplete-image > img {
    width: 100%;
}
