<div class="picker-circle-cell" fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'current': isCurrent(), 'active': isSelected()}" (click)="onClick($event)">
    <span>{{getMinute()}}</span>
</div>
