<div [hidden]="isHidden()" [@fadeHiddenState]="!isHidden()" class="picker picker--right timepicker-hour">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>
            <span>Hodina</span>
        </h3>
    </div>
    <div class="timepicker-hours-content top-offset" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
        <lmn-timepicker-hour-cell *ngFor="let column of hoursList(); let i = index;" [lmnHour]="(i)" [lmnSelected]="selected" (lmnClick)="select($event)"></lmn-timepicker-hour-cell>
    </div>
</div>