<div [hidden]="isHidden()" [@fadeHiddenState]="!isHidden()" class="picker picker--right timepicker-minute">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>
            <span>Minúta</span>
        </h3>
    </div>
    <div class="timepicker-hours-content top-offset" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
        <lmn-timepicker-minute-cell *ngFor="let column of minutesList();" [lmnMinute]="(column)" [lmnSelected]="selected" (lmnClick)="select($event)"></lmn-timepicker-minute-cell>
    </div>
</div>