<div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="picker-input-container">
        <input name="{{name}}-hour" type="datetime" [ngModel]="hour" (ngModelChange)="setHour($event)" [lmnPickerInput]="hourPicker" />
        <lmn-timepicker-hour [lmnDate]="selected" (lmnChange)="selectHour($event)" #hourPicker></lmn-timepicker-hour>
    </div>
    <div class="delimeter">:</div>
    <div class="picker-input-container">
        <input name="{{name}}-minute" type="datetime" [ngModel]="minute" (ngModelChange)="setMinute($event)" [lmnPickerInput]="minutePicker" />
        <lmn-timepicker-minute [lmnDate]="selected" (lmnChange)="selectMinute($event)" #minutePicker></lmn-timepicker-minute>
    </div>
</div>