<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>Zápočet</div>
        <div>Skúška</div>
    </div>
    <div class="slider">
        <div class="slider-body"></div>
        <div class="slider-pin" [style.left]="getPinPosition()"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{getFirstValue()}}b - {{getFirstValuePercentage()}}%</div>
        <div>{{getSecondValue()}}b - {{getSecondValuePercentage()}}%</div>
    </div>
</div>