:host {
    display: block;
    position: relative
}

.about-info-block-content {
    margin: 8px 0px 0px 0px;
}

.offset-top {
    padding: 32px 0px 0px 0px;
}

@media only screen and (min-width: 1280px) {
    .offset-right {
        padding: 0px 16px 0px 0px;
    }

    .offset-left {
        padding: 0px 0px 0px 16px;
    }
}

@media only screen and (max-width: 1279px) {
    .offset-top {
        padding: 16px 0px 0px 0px;
    }
}