<div>
    <div class="action-bar" fxLayout="row" fxLayoutAlign="end center">
        <div class="action-bar-button" (click)="showForm()">
            <span class="ti-pencil"></span>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row" [hidden]="isFormVisible()" [@fadeHiddenState]="!isFormVisible()">
        <div fxFlex="grow" fxFlex.gt-md="50" class="offset-right">
            <h2>Popis:</h2>
            <p class="with-line-break">{{settings.get('description')}}</p>
        </div>
        <div fxFlex="grow" fxFlex.gt-md="50" fxLayout="column" class="offset-left top-offset-s">
            <div fxLayout="column" fxLayout.gt-md="row"> 
                <div fxLayout="column" fxFlex="grow" fxFlex.gt-md="50" class="offset-right">
                    <div class="about-info-block">
                        <h2>Škola a fakulta:</h2>
                        <p>{{settings.get('subjectprototype.faculty.university.code')}} - {{settings.get('subjectprototype.faculty.code')}}</p>
                    </div>
                    <div class="about-info-block offset-top">
                        <h2>Stránka predmetu:</h2>
                        <p class="inline-ellipsis"><a href="{{getAbsoluteLink(settings.get('webpage'))}}" target="_blank">{{settings.get('webpage')}}</a></p>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="grow" fxFlex.gt-md="50" class="offset-left top-offset-s">
                    <div class="about-info-block">
                        <h2>Garant predmetu:</h2>
                        <p *ngFor="let profesor of settings.get('professors')">{{profesor.get('person.name')}}</p>
                    </div>
                    <div class="about-info-block offset-top">
                        <h2>Cvičiaci predmetu:</h2>
                        <p *ngFor="let lecturer of settings.get('lecturers')">{{lecturer.get('person.name')}}</p>
                    </div>
                </div>
            </div>
            <div class="about-info-block offset-top">
                <h2>Bodovanie:</h2>
                <lmn-about-points class="about-info-block-content" [lmnMax]="settings.get('pointslimit')" [lmnValue]="settings.get('pointsdelimeter')"></lmn-about-points>
            </div>
        </div>
    </div>
    <lmn-subject-about-edit [lmnAbout]="settings" (lmnClose)="hideForm()" [hidden]="!isFormVisible()" [@fadeHiddenState]="isFormVisible()"></lmn-subject-about-edit>
</div>