<lmn-form-box class="active">
    <form name="about-edit" novalidate (ngSubmit)="formBox.submit($event)" #createThreadForm="ngForm">
        <div fxLayout="column" fxLayout.gt-md="row">
            <div fxFlex="grow" fxFlex.gt-md="50" class="offset-right">
                <div class="lmn-input-container">
                    <label for="about-description">Popis</label>
                    <textarea id="about-description" autosize name="description" placeholder="Napíš niečo užitočné o predmete" [ngModel]="about.get('description')" (ngModelChange)="about.set('description', $event)" (focus)="formBox.focus('description')" (blur)="formBox.blur('description')"></textarea>
                </div> 
            </div>
            <div fxFlex="grow" fxFlex.gt-md="50" fxLayout="column" class="offset-left space-top-8-s">
                <div class="lmn-input-container">
                    <label for="about-professor">Garant predmetu</label>
                    <input id="about-professor" name="professor" placeholder="Napíš meno garanta" [(ngModel)]="professor" (focus)="formBox.focus('professor')" (blur)="formBox.blur('professor')" />
                </div>
                <div class="lmn-input-container space-top-8">
                    <label for="about-lecturer">Cvičiaci</label>
                    <lmn-string-list-input name="lecturer" [(ngModel)]="lecturers" lmnPlaceholder="Napíš meno cvičiaceho" (lmnFocus)="formBox.focus('lecturer')" (lmnBlur)="formBox.blur('lecturer')"></lmn-string-list-input>
                </div>
                <div class="lmn-input-container space-top-8">
                    <label for="about-points-max">Plný počet bodov</label>
                    <input id="about-points-max" type="number" name="pointsMax" [ngModel]="about.get('pointslimit')" (ngModelChange)="about.set('pointslimit', $event)" (focus)="formBox.focus('pointsMax')" (blur)="formBox.blur('pointsMax')" />
                </div>
                <div class="lmn-input-container space-top-8">
                    <label for="about-points-text">Počet bodov za semester</label>
                    <input id="about-points-text" type="number" name="pointsTest" [ngModel]="about.get('pointsdelimeter')" (ngModelChange)="about.set('pointsdelimeter', $event)" (focus)="formBox.focus('pointsTest')" (blur)="formBox.blur('pointsTest')" />
                </div>
                <div class="lmn-input-container space-top-8">
                    <label for="about-webpage">Stránka predmetu</label>
                    <input id="about-webpage" name="webpage" placeholder="Vyplň stránku predmetu" [ngModel]="about.get('webpage')" (ngModelChange)="about.set('webpage', $event)" (focus)="formBox.focus('webpage')" (blur)="formBox.blur('webpage')" />
                </div>
            </div>
        </div>
               
        <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
            <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('cancel')" (blur)="formBox.blur('create-cancel')" (click)="onClose()">Zrušiť</button>
            <button type="submit" name="update" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('update')" (blur)="formBox.blur('update')">
                <span class="lmn-btn-submit--default">Uložiť</span>
                <span class="lmn-btn-submit--focus ti-check"></span>
            </button>
        </div>
    </form>
</lmn-form-box>
