:host {
    display: block;
}

.slider {
    position: relative;
    margin: 8px 0px;
}

.slider-body {
    box-sizing: border-box;
    margin: 8px 0px;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #28B76A;
}

.slider-pin {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0%;
    width: 24px;
    height: 24px;
    border: 1px solid #28B76A;
    border-radius: 12px;
    background-color: #EDEFF3;
    transform: translateX(-50%);
}