<lmn-form-box class="active">
    <div>
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="formBox.submit($event)" #createSubjectForm="ngForm">
            <div fxLayout="column" fxLayout.gt-md="row" class="lmn-input-container--row">
                <lmn-validation-error-shell [lmnControl]="form.get('name')" fxFlex.gt-md="50">
                    <div class="lmn-input-container">
                        <label for="subject-name">Názov</label>
                        <input id="subject-name" type="text" formControlName="name" placeholder="Zadaj názov predmetu" [ngModel]="name" (ngModelChange)="setName($event)" (focus)="formBox.focus('name')" (blur)="formBox.blur('name')" />
                    </div>
                </lmn-validation-error-shell>
                <lmn-validation-error-shell [lmnControl]="form.get('code')" fxFlex.gt-md="50">
                    <div class="lmn-input-container">
                        <label for="subject-code">Skratka</label>
                        <input id="subject-code" type="text" formControlName="code" placeholder="Zadaj skratku predmetu" [ngModel]="subjectprototype.get('code')" (ngModelChange)="subjectprototype.set('code', $event)" (focus)="formBox.focus('code')" (blur)="formBox.blur('code')" />
                    </div>
                </lmn-validation-error-shell>
            </div>
            <lmn-validation-error-shell [lmnControl]="form.get('faculty')">
                <div class="lmn-input-container space-top-8">
                    <label for="subject-faculty">Fakulta</label>
                    <lmn-faculty-input formControlName="faculty" lmnId="subject-faculty" lmnPlaceholder="Vyber fakultu predmetu" [(ngModel)]="faculty" (lmnFocus)="formBox.focus('faculty')" (lmnBlur)="formBox.blur('faculty')"></lmn-faculty-input>
                </div>
            </lmn-validation-error-shell>
            
            <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
                <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('create-cancel')" (blur)="formBox.blur('create-cancel')" (click)="cancelForm($event)">Zrušiť</button>
                <button type="submit" name="create" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('create-submit')" (blur)="formBox.blur('create-submit')">
                    <span class="lmn-btn-submit--default">Vytvoriť</span>
                    <span class="lmn-btn-submit--focus ti-check"></span>
                </button>
            </div>
        </form>
    </div>
</lmn-form-box>
