<div>
    <div [hidden]="showCreateForm" [@fadeHiddenState]="!showCreateForm">
        <lmn-form-box [ngClass]="{'active': hasFocus()}" lmnCompact="true">
            <input type="text" name="search" placeholder="Hľadaj predmet..." [ngModel]="searchValue" (ngModelChange)="set($event)" (focus)="focus()" (blur)="blur()" [lmnAutocompleteSelector]="items" [lmnSelected]="selected" (lmnChange)="setSelected($event)" (lmnSelect)="onSelect($event)" (lmnClose)="onClose($event)" />
        </lmn-form-box>
        <div class="search-item-picker drop-shadow" [hidden]="isAutocompleteHidden()" [@fadeHiddenState]="!isAutocompleteHidden()">
            <div class="autocomplete-scroll-pane">
                <div class="subject-search-item" *ngFor="let item of subjects; let i = index">
                    <lmn-subject-search-item [lmnItem]="item" [lmnSelected]="selected == i" (mouseover)="setSelected(i)" (mousedown)="onSelect(item)"></lmn-subject-search-item>
                </div>
            </div>
            <div class="create-subject-option" [ngClass]="{'selected': selected == subjects.length}" (mouseover)="setSelected(subjects.length)" (mousedown)="onSelect(null)">Vytvoriť predmet</div>
        </div>
    </div>
    <div [hidden]="!showCreateForm" [@fadeHiddenState]="showCreateForm">
        <lmn-subject-create [(lmnSubjectName)]="searchValue" (lmnCancel)="hideCreateForm()"></lmn-subject-create>
    </div>
</div>
