:host {
    display: block;
    position: relative;
}

:host input:focus {
    position: relative;
    border: none;
    outline: 0;
}

.search-item-picker {
    display: block;
    position: absolute;
    background-color: #EDEFF3;
    top: 65px;
    width: 100%;
    z-index: 1;
}

.create-subject-option {
    display: block;
    background-color: #ffffff;
    padding: 16px;
    margin: 0px;
    border-left: 2px solid transparent;
    transition: all 480ms ease;
    cursor: pointer;
}
.subject-search-item + .create-subject-option {
    margin: 2px 0px 0px 0px;
}

.create-subject-option.selected {
    border-left-color: #28B76A;
}