<div class="search-item" [ngClass]="{'selected': isSelected()}" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
        <h3>{{item.get('subjectprototype.code')}} | {{item.get('subjectprototype.name')}}</h3>
        <div class="label-info side-text">{{item.get('subjectprototype.faculty.university.code')}}, {{item.get('subjectprototype.faculty.code')}}</div>
    </div>
    <div class="label-info">
        <span class="icon-with-number" title="počet príspevkov">
            <span>{{item.get('count_threads')}}</span>
            <span class="ti-comment-alt"></span>
        </span>
        <span class="icon-with-number" title="počet udalostí">
            <span>{{item.get('count_calendarevents')}}</span>
            <span class="ti-calendar"></span>
        </span>
        <span class="icon-with-number" title="počet študentov">
            <span>{{item.get('count_members')}}</span>
            <span class="ti-user"></span>
        </span>
    </div>
</div>