<div>
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" class="flexbox-dotdotdot-fix" fxFlex="grow">
                <span class="color-circle palette-bg {{getColorClass()}}" fxFlex="noshrink"></span>
                <h2 class="dotdotdot" fxFlex="grow"><a class="space-left-8 a-black" title="{{subject.get('subjectprototype.name')}}" routerLink="/subject/{{subject.get('subjectprototype.public_id')}}">{{subject.get('subjectprototype.code')}} | {{subject.get('subjectprototype.name')}}</a></h2>
            </div>
            <div class="label-info" fxFlex="noshrink" fxLayout="row" fxLayoutAlign="start center">
                <span class="icon-with-number icon-with-number--big" title="počet príspevkov">
                    <span>{{subject.get('count_threads')}}</span>
                    <span class="ti-comment-alt"></span>
                </span>
                <span class="icon-with-number icon-with-number--big" title="počet udalostí">
                    <span>{{subject.get('count_calendarevents')}}</span>
                    <span class="ti-calendar"></span>
                </span>
                <span class="icon-with-number icon-with-number--big" title="počet študentov">
                    <span>{{subject.get('count_members')}}</span>
                    <span class="ti-user"></span>
                </span>
                <lmn-more-dropdown lmnDropdownLeft="true">
                    <div class="lmn-dropdown-menu-item action-text">
                        Upraviť
                    </div>
                    <div class="lmn-dropdown-menu-item action-text action-text--negative" (click)="leave(subject.get('id'))" [ngClass]="{'action-bar-button--progress': isLeaving}">
                        Opustiť
                    </div>
                </lmn-more-dropdown>
            </div>
        </div>
        <div class="label-info side-text">{{subject.get('subjectprototype.faculty.university.code')}}, {{subject.get('subjectprototype.faculty.code')}}</div>
    </div>
</div>