<div>
    <lmn-thread-create [lmnSubjectPid]="subjectPid"></lmn-thread-create>
    <lmn-thread-view *ngIf="hasStandaloneThread()" class="top-offset-32-res" [lmnHighlightEntry]="options.entryId" [lmnThread]="getStandaloneThread()" [@fadeIfState]="" [lmnShowAll]="true"></lmn-thread-view>
    <lmn-thread-list class="top-offset-32-res" [lmnList]="threads" (lmnLoadMore)="onLoadMore()"></lmn-thread-list>
    <lmn-no-content-text class="top-offset-32-res" [@fadeIfState]="" *ngIf="shouldShowNoContentText()">
        <div>Máš otázku? <a class="guide" (click)="gotoCreateThread()">spýtaj</a> sa spolužiakov</div>
        <div class="top-offset">Máš riešenie? <a class="guide" (click)="gotoCreateThread()">pomôž</a> spolužiakom</div>
    </lmn-no-content-text>
</div>