<div>
    <lmn-mark-top [lmnSubject]="subject"></lmn-mark-top>
    <header>
        <div>
            <h1 [@fadeIfState]="" *ngIf="subject" title="{{subject.get('subjectprototype.name')}}" class="dotdotdot">{{subject.get('subjectprototype.code')}} | {{subject.get('subjectprototype.name')}}</h1>
            <h1 class="fade-animation-child" [@fadeIfState]="" *ngIf="!subject" fxLayout="row"><div class="loading-h1 w-33">&nbsp;</div></h1>
        </div>
    </header>
    <ngb-tabset #tabset="ngbTabset" [activeId]="selectedTab">
        <ngb-tab id="main_wall">
            <ng-template ngbTabTitle>
                <h3>NÁSTENKA</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                    <lmn-threads [lmnSubjectPid]="publicId" [lmnListen]="refreshTab.main_wall" [lmnOptions]="tabParams"></lmn-threads>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="main_about">
            <ng-template ngbTabTitle>
                <h3>POPIS</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                    <lmn-subject-about [lmnListen]="refreshTab.main_about" [lmnPublicId]="publicId"></lmn-subject-about>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="main_events">
            <ng-template ngbTabTitle>
                <h3>UDALOSTI</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                     <lmn-calendarevent-list [lmnListen]="refreshTab.main_events" [lmnPublicId]="publicId" [lmnHighlight]="eventHighlight"></lmn-calendarevent-list> 
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
