<lmn-form-box [ngClass]="{'active': isActive()}" lmnCompact="true">
    <div [hidden]="!isActive()" [@fadeHiddenState]="isActive()">
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="formBox.submit($event)" #createThreadForm="ngForm">
            <lmn-validation-error-shell [lmnControl]="form.get('title')">
                <label for="title" [lmnLinput]="formBox" lmnName="title" [ngClass]="{'linput-no-border': !isActive()}">
                    <input id="title" type="text" #textInput formControlName="title" placeholder="Mám otázku ..." [ngModel]="thread.get('title')" (ngModelChange)="thread.set('title', $event)" (focus)="formBox.focus('title')" (blur)="formBox.blur('title')" />
                </label>
            </lmn-validation-error-shell>
            <lmn-validation-error-shell [lmnControl]="form.get('text')">
                <label for="text" class="space-top-8" [lmnLinput]="formBox" lmnName="text" [hidden]="!isActive()">
                    <lmn-textarea-autocomplete formControlName="text" [lmnEnterSubmit]="createThreadForm" lmnPlaceholder="Text príspevku" [ngModel]="thread.get('first_entry.text')" (ngModelChange)="textChange($event)" (lmnFocus)="formBox.focus('text')" (lmnBlur)="formBox.blur('text')"></lmn-textarea-autocomplete>
                </label>
            </lmn-validation-error-shell>
            <div [hidden]="!isActive()" fxLayout="column">
                <div class="files space-top-8">
                    <lmn-file-upload class="file-item" *ngFor="let attachment of attachments; let i = index;" [lmnFile]="attachment.file" [lmnUpload]="attachment.upload" (lmnClose)="dettache(i)"></lmn-file-upload>
                </div>
                <lmn-file-input class="space-top-8" (lmnFiles)="attachFiles($event)" (lmnFocus)="formBox.focus('attach-file')" (lmnBlur)="formBox.blur('attach-file')"></lmn-file-input>
                <div class="space-top-8" fxLayout="row" fxLayoutAlign="start center">
                    <span class="label-note">tagy:</span><span class="label-note space-left-8" [hidden]="tags.length > 0">začni písať # a označ príspevok</span><lmn-inline-tags [lmnTags]="tags"></lmn-inline-tags>
                </div>
                <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
                    <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('cancel')" (blur)="formBox.blur('cancel')" (click)="cancel($event)">Zrušiť</button>
                    <button type="submit" name="create" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('create-submit')" (blur)="formBox.blur('create-submit')">
                        <span class="lmn-btn-submit--default">Odoslať</span>
                        <span class="lmn-btn-submit--focus ti-check"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <lmn-file-dropzone (lmnFiles)="attachDropFiles($event)"></lmn-file-dropzone>
</lmn-form-box>
