:host {
    position: relative;
    display: block;
}

.lmn-btn-secondary span.fa {
    padding: 0px 8px 0px 0px;
}

.files .file-item:first-child {
    margin: 0px;
}
.files .file-item {
    margin: 0px 0px 0px 16px;
}