:host {
    display: block;
}

.lmn-title-input input {
    font-size: 15px;
    color: #1F2838;
    width: 100%;
}

.lmn-btn-secondary span.fa {
    padding: 0px 8px 0px 0px;
}

.files .file-item:first-child {
    margin: 0px;
}
.files .file-item {
    margin: 0px 0px 0px 16px;
}