<lmn-form-box [ngClass]="{'active': isActive()}" [lmnCompact]="true">
    <div [hidden]="!isActive()" [@fadeHiddenState]="isActive()">
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="formBox.submit($event)">
            <lmn-validation-error-shell [lmnControl]="form.get('text')">
                <label for="text" [lmnLinput]="formBox" lmnName="text" [ngClass]="{'linput-no-border': !isActive()}">
                    <lmn-textarea-autocomplete formControlName="text" lmnPlaceholder="Mám odpoveď ... " [ngModel]="entry.get('text')" (ngModelChange)="entry.set('text', $event)" (lmnFocus)="formBox.focus('text')" (lmnBlur)="formBox.blur('text')"></lmn-textarea-autocomplete>
                </label>
            </lmn-validation-error-shell>
            <div [hidden]="!isActive()">
                <div class="files space-top-8">
                    <lmn-file-upload class="file-item" *ngFor="let attachment of attachments; let i = index;" [lmnFile]="attachment.file" [lmnUpload]="attachment.upload" (lmnClose)="dettache(i)"></lmn-file-upload>
                </div>
                <lmn-file-input class="space-top-8" (lmnFiles)="attachFiles($event)" (lmnFocus)="formBox.focus('attach-file')" (lmnBlur)="formBox.blur('attach-file')"></lmn-file-input>
                <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
                    <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('cancel')" (blur)="formBox.blur('cancel')" (click)="cancel($event)">Zrušiť</button>
                    <button type="submit" name="create" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('create-submit')" (blur)="formBox.blur('create-submit')">
                        <span class="lmn-btn-submit--default">Odoslať</span>
                        <span class="lmn-btn-submit--focus ti-check"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <lmn-file-dropzone (lmnFiles)="attachDropFiles($event)"></lmn-file-dropzone>
</lmn-form-box>
