<div>
    <!-- entry block -->
    <div fxLayout="row" class="entry-body" [ngClass]="{'highlight': highlightEntry}">
        <lmn-thread-vote fxHide="true" fxShow.gt-md lmnEnable="true" [lmnValue]="entry.get('votevalue')" [lmnVote]="entry.get('vote')" (lmnUpvote)="vote(1)" (lmnDownvote)="vote(-1)"></lmn-thread-vote>
        <div class="avatar-row">
            <lmn-user-image [lmnUser]="entry.get('user')"></lmn-user-image>
        </div>
        <div>
            <div class="space-top-8">
                <span class="user-name">{{entry.get('user.fullname')}}</span>
                <span class="label-info space-left-16">{{entry.get('created_at') | date:"dd MMMM y, HH:mm"}}</span>
            </div>
            <div class="space-top-8">
                <p class="with-line-break"><lmn-format-text [lmnComponents]="getTextComponent()"></lmn-format-text></p>
            </div>
            <div class="files top-offset" *ngIf="entry.get('files').length">
                <lmn-file-download class="file-item" *ngFor="let file of entry.get('files')" [lmnFile]="file"></lmn-file-download>
            </div>
        </div>
    </div>
</div>
