<div>
    <div [@fadeIfState]="" *ngIf="threads.length" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
        <lmn-thread-view class="thread-item" *ngFor="let thread of threads;let i = index;trackBy: listTrack" [lmnThread]="thread" [@fadeIfState]=""></lmn-thread-view>
    </div>
</div>
