<div [@fadeIfState]="" *ngIf="threads.length">
    <lmn-thread-view-compact class="compact-item" *ngFor="let thread of threads;let i = index;trackBy: listTrack" [lmnThread]="thread" [@fadeIfState]="" infinite-scroll [infiniteScrollDistance]="4" (scrolled)="onScroll()"></lmn-thread-view-compact>
</div>
