<div>
    <!-- thread block -->
    <div>
        <header fxLayout="row" fxLayoutAlign="start center">
            <h2 class="loading-h2 w-20">&nbsp;</h2>
            <lmn-user-label-loading class="space-left-16 w-20"></lmn-user-label-loading>
            <span class="loading-label-info label-info space-left-16 w-20">&nbsp;</span>
        </header>
        <p class="loading-p w-90">&nbsp;</p>
        <p class="loading-p w-100">&nbsp;</p>
        <p class="loading-p w-80">&nbsp;</p>
    </div>
</div>
