:host {
    display: block;
    position: relative;
}

.view-container {
    background-color: #ffffff;
    padding: 16px;
}

.avatar-row {
    padding: 0px 16px;
}

.user-name {
    font-size: 13px;
}

.thread-body p:first-child {
    padding: 0px;
}

.highlight-state-animation {
    animation: highlight-item 1000ms 0s 1 normal both;
}

.entry-block {
    margin: 0px 0px 0px 96px;
}

.files .file-item:first-child {
    margin: 0px;
}
.files .file-item {
    margin: 0px 0px 0px 16px;
}

.entries-button.clickable, .more-entries {
    color: #1F2838;
    cursor: pointer;
}

.entries-button.clickable:hover, .more-entries:hover {
    color: #28B76A;
}

.more-entries {
    margin: 8px 0px 8px 56px;
}

@media only screen and (max-width: 1279px) {
    .avatar-row {
        padding: 0px 16px 0px 0px;
    }

    .entry-block {
        margin: 0px 0px 0px 56px;
    }
}