<div class="view-container" [ngClass]="{'highlight-state-animation': (thread.get('state') == 'highlight')}">
    <!-- thread block -->
    <div class="space-top-res">
        <h2>{{thread.get('title')}}</h2>
    </div>
    <div class="space-top-8" fxLayout="row">
        <lmn-thread-vote fxHide="true" fxShow.gt-md lmnEnable="true" [lmnValue]="thread.get('first_entry.votevalue')" [lmnVote]="thread.get('first_entry.vote')" (lmnUpvote)="vote(1)" (lmnDownvote)="vote(-1)"></lmn-thread-vote>
        <div class="avatar-row">
            <lmn-user-image [lmnUser]="thread.get('first_entry.user')"></lmn-user-image>
        </div>
        <div>
            <div class="space-top-8">
                <span class="user-name">{{thread.get('first_entry.user.fullname')}}</span>
                <span class="label-info space-left-16">{{thread.get('created_at') | date:"dd MMMM y, HH:mm"}}</span>
            </div>
            <div>
                <p class="with-line-break"><lmn-format-text [lmnComponents]="getTextComponent()"></lmn-format-text></p>
            </div>
            <div class="files top-offset-res" [hidden]="!thread.get('first_entry.files').length">
                <lmn-file-download class="file-item" *ngFor="let file of thread.get('first_entry.files')" [lmnFile]="file"></lmn-file-download>
            </div>
            <div class="top-offset-res" fxLayout="row" fxLayoutAlign="start center">
                <div class="label-info" fxFlex="noshrink">
                    <span class="entries-button icon-with-number--left" [ngClass]="{'clickable': hasHiddenEntries()}" (click)="showAllEntry()" title="počet odpovedí">
                        <span>{{thread.get('entries').length}}</span>
                        <span class="ti-comment-alt"></span>
                    </span>
                    <span class="icon-with-number--left" title="počet súborov">
                        <span>{{thread.get('first_entry.files').length}}</span>
                        <span class="ti-files"></span>
                    </span>
                </div>
                <lmn-inline-tags fxShow="false" fxShow.gt-md class="space-left-16" fxFlex="grow" [lmnTags]="thread.get('tags')" [hidden]="thread.get('tags').length == 0"></lmn-inline-tags>
            </div>
        </div>
    </div>

    <!-- comments / entry block -->
    <div class="entry-block top-offset">
        <span class="more-entries ti-more-alt" [hidden]="!hasHiddenEntries()" (click)="showAllEntry()" [@fadeHiddenState]="hasHiddenEntries()"></span>
        <lmn-entry-view *ngFor="let entry of getEntries(); trackBy: trackEntryList" [@fadeIfState]="" [lmnHighlight]="entry.get('id') == highlightEntryId" [lmnEntry]="entry"></lmn-entry-view>
        <lmn-entry-create [lmnThreadId]="thread.get('id')" class="space-top-8"></lmn-entry-create>
    </div>
</div>
