<div [@fadeIfState]="" *ngIf="threads.length">
    <lmn-thread-view *ngFor="let thread of threads;let i = index;" [lmnHighlightEntry]="highlightEntry" [lmnThread]="thread" [@fadeIfState]="" [lmnShowAll]="true"></lmn-thread-view>
</div>
