<div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="grow" fxLayout="row" fxLayoutAlign="start center" class="flexbox-dotdotdot-fix" >
            <span class="color-circle palette-bg {{getColorpalette()}}" fxFlex="noshrink"></span>
            <h2 class="space-left-8" fxFlex="grow"><a class="a-black" routerLink="/thread/{{thread.get('public_id')}}">{{thread.get('title')}}</a></h2>
            <lmn-inline-tags fxShow="false" fxShow.gt-md fxFlex="noshrink" class="space-left-16" lmnLimit="3" [lmnTags]="thread.get('tags')" [hidden]="thread.get('tags').length == 0"></lmn-inline-tags>
        </div>
        <div class="label-info" fxFlex="noshrink">
            <span class="icon-with-number label-info icon-with-number--big" title="počet odpovedí">
                <span>{{thread.get('entrycount')}}</span>
                <span class="ti-comment-alt"></span>
            </span>
            <span class="icon-with-number icon-with-number--big" title="počet súborov">
                <span>{{thread.get('first_entry.files').length}}</span>
                <span class="ti-files"></span>
            </span>
        </div>
    </div>
    <div class="second-line" fxLayout="row" fxLayoutAlign="start center">
        <span class="label-info"><a>{{thread.get('first_entry.user.fullname')}}</a></span>
        <span class="label-info space-left-16">{{thread.get('created_at') | date:"dd MMMM y, HH:mm"}}</span>
    </div>
</div>
