<div class="lmn-vote lmn-layout-{{getLayout()}}" fxLayout="{{getLayout()}}" fxLayoutAlign="start center">
    <div (click)="upvote($event)"><span class="icon ti-angle-up" [ngClass]="{'active': isUpvoted()}"></span></div>
    <div class="label-info vote-value">{{votevalue}}</div>
    <div (click)="downvote($event)"><span class="icon ti-angle-down" [ngClass]="{'active': isDownvoted()}"></span></div>
</div>
