:host {
    color: #C8CEDB;
}

.lmn-vote {
    margin: 9px 0px;
}

.lmn-layout-column .icon {
    font-size: 15px;
}

.icon {
    color: #C8CEDB;
    cursor: pointer;
}

.icon.active {
    color: #28B76A;
}

.icon:hover, .icon.active:hover {
    color: #252B3A;
}

.lmn-layout-row .vote-value {
    padding: 0px 4px;
}
