.tag {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 8px;
    border: solid 1px #C8D0DD;
    background-color: transparent;
    font-size: 13px;
    cursor: pointer;
    transition: all 480ms ease;
}

.tag.system {
    background-color: #C8D0DD;
    color: #ffffff;
}

.tag.system:hover {
    background-color: #28B76A;
    color: #ffffff;
}

.tag:hover {
    border-color: #28B76A;
    color: #28B76A;
}
