<div class="hour-mark" [style.width]="getWidth()" fxLayout="row" fxLayoutAlign="center start">
    <div class="timeline-hour-line" [hidden]="shouldShowNumber()"></div>
    <div class="timeline-number label-info" [ngClass]="{'new-day': isNewDay()}" [hidden]="!shouldShowNumber()">{{getNumber()}}</div>
</div>