:host {
    position: relative;
    height: 100%;
    display: inline-block;
}
.hour-mark {
    height: 100%;
}

.timeline-hour-line {
    width: 1px;
    height: 50%;
    background-color: #9EA6B8;
}

.new-day {
    color: #1F2838;
}