<div class="timeline">
    <div class="timeline-pane">
        <div class="timeline-line current-time-cursor"></div>
        <div class="timeline-hours">
            <div class="timeline-events">
                <div class="timeline-event-lane" *ngFor="let lane of eventLanes">
                    <lmn-timeline-event *ngFor="let item of lane.getEvents()" [lmnEvent]="item.event" [lmnTimelineEvent]="item.timelineEvent" [lmnUnitWidth]="markSize" [lmnTick]="tick"></lmn-timeline-event>
                </div>
            </div>
            <div class="timeline-marks" [style.left]="getLeftOffset()">
                <lmn-hour-mark *ngFor="let mark of marks" [lmnWidth]="markSize" [lmnIndex]="mark"></lmn-hour-mark>
            </div>
        </div>
    </div>
</div>