.timeline {
    background-color: #ffffff;
    height: 64px;
    padding: 16px;
}

.timeline-pane {
    position: relative;
    height: 100%;
}

.timeline-line {
    height: 100%;
}

.timeline-hours {
    height: 100%;
}

.timeline-marks {
    position: relative;
    box-sizing: border-box;
    height: 50%;
    overflow: hidden;
}

.timeline-events {
    box-sizing: border-box;
    height: 50%;
    border-bottom: solid 1px #9EA6B8;
}

.timeline-event-lane {
    position: relative;
    height: 33%;
    overflow: hidden;
}

.current-time-cursor {
    position: absolute;
    left: 0px;
    width: 2px;
    background-color: #28B76A;
    z-index: 1;
}