<div>
    <div class="fade-animation-parent">
        <lmn-calendarevent-view class="calendarevent-view"  [ngClass]="{'highlight': calendarevent.get('id') == highlightId}" *ngFor="let calendarevent of calendarevents;let i = index;" [lmnCalendarevent]="calendarevent" [@fadeIfState]=""></lmn-calendarevent-view>
    </div>
    <lmn-no-content-text [@fadeIfState]="!shouldShowNoContentText()" *ngIf="shouldShowNoContentText()">
        <span>Predmet nemá žiadnu udalosť. <a class="guide" (click)="gotoCreateeventForm()">Pridaj</a> prednášky a cvičenia aj pre svojích spolužiakov</span>
    </lmn-no-content-text>
</div>