<div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>
            <h2><span class="ti-check lmn-success space-right-8" *ngIf="calendarevent.get('user_id')"></span>{{calendarevent.get('name')}}</h2>
            <div class="label-info space-top-8">{{calendarevent.get('description')}}</div>
        </div>
        <div class="label-info" [ngClass]="{'priority': hasPriority()}" fxLayout="row" fxLayoutAlign="start center">
            <span class="icon-with-number" title="čas konania udalosti">
                <span class="side-text" [hidden]="calendarevent.get('allday')">{{calendarevent.get('eventstart') | date:"HH:mm"}} - {{calendarevent.get('until') | date:"HH:mm"}}</span>
                <span class="side-text" [hidden]="!calendarevent.get('allday')">celý deň</span>
                <span class="ti-timer"></span>
            </span>
            <span class="icon-with-number" title="miesto">
                <span class="side-text">{{calendarevent.get('location')}}</span>
                <span class="ti-location-pin"></span>
            </span>
            <lmn-more-dropdown lmnDropdownLeft="true">
                <div class="lmn-dropdown-menu-item action-text" (click)="edit()">
                    Upraviť
                </div>
                <div class="lmn-dropdown-menu-item action-text action-text--negative" (click)="leave(calendarevent.get('id'))" [ngClass]="{'action-bar-button--progress': inProgress}" [hidden]="!calendarevent.get('user_id')">
                    Opustiť
                </div>
                <div class="lmn-dropdown-menu-item action-text action-text--positive" (click)="join(calendarevent.get('id'))" [ngClass]="{'action-bar-button--progress': inProgress}" [hidden]="calendarevent.get('user_id')">
                    Pridať
                </div>
            </lmn-more-dropdown>
        </div>
    </div>
</div>