<div class="mobile-background" fxLayout="column" fxLayoutAlign="start stretch" (click)="hide()">
    <div class="mobile-header" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ti-arrow-left" (click)="hide()"></h2>
        <h1 class="space-left-16">Vyhľadávanie</h1>
    </div>
    <lmn-search (click)="$event.stopPropagation()" lmnCompact="true" [lmnAutofocus]="show"></lmn-search>
</div>