:host {
    display: block;
    position: relative;
}

:host input {
    border: none;
    width: auto;
}

:host input:focus {
    position: relative;
    outline: 0;
}

.search-item-picker {
    display: block;
    position: absolute;
    top: 65px;
    width: 100%;
    box-shadow: 0px 0px 4px #1F2838;
    z-index: 1;
}