<div>
    <lmn-form-box [ngClass]="{'active': hasFocus()}" [lmnCompact]="compactForm">
        <div fxLayout="row" fxLayoutAlign="start center">
            <input #searchInput type="text" name="search" placeholder="Hľadaj ..." [ngModel]="searchValue" (ngModelChange)="set($event)" (focus)="focus()" (blur)="blur()" [lmnAutocompleteSelector]="items" [lmnSelected]="selected" (lmnChange)="setSelected($event)" (lmnSelect)="onSelect($event)" (lmnClose)="onClose($event)" fxFlex/>
           <a (click)="clearSearchValue()"><span class="ti-close" [hidden]="!hasSearchValue()"></span></a>
        </div>
    </lmn-form-box>
    <div class="search-item-picker" [hidden]="isAutocompleteHidden()" [@fadeHiddenState]="!isAutocompleteHidden()">
        <div class="autocomplete-scroll-pane">
            <div *ngFor="let item of items; let i = index">
                <lmn-search-group [lmnName]="item.get('group')" [lmnLabel]="item.get('group')" [hidden]="!showLabel(item, i)"></lmn-search-group>
                <lmn-search-item [lmnItem]="item" [lmnSelected]="selected == i" (mouseover)="setSelected(i)" (mousedown)="onSelect(item)"></lmn-search-item>
            </div>
        </div>
    </div>
</div>
