<div class="search-item" [ngClass]="{'selected': selected}">
    <h3>{{item.get('university.code')}} | {{item.get('name')}}</h3>
    <div class="label-info side-text">{{item.get('university.name')}}</div>
</div>