<div class="search-item-picker drop-shadow" [hidden]="!autocomplete.isVisible()" [@fadeHiddenState]="autocomplete.isVisible()">
    <div class="autocomplete-scroll-pane">
        <div class="subject-search-item" *ngFor="let item of autocomplete.getItems(); let i = index">
            <lmn-faculty-autocomplete-item [lmnItem]="item" [lmnSelected]="autocomplete.getSelected() == i" (mouseover)="autocomplete.setSelected(i)" (mousedown)="onSelect(item)"></lmn-faculty-autocomplete-item>
        </div>
        <lmn-no-content-text lmnSmall="true" *ngIf="autocomplete.getItems().length == 0" class="no-content">
            <div>Nenašiel som žiadnu fakultu</div>
        </lmn-no-content-text>
    </div>
</div>