:host {
    display: block;
    position: relative;
}

.search-item-picker {
    display: block;
    position: absolute;
    background-color: #EDEFF3;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.no-content {
    background-color: #ffffff;
    padding: 16px;
    border-left: 2px solid transparent;
}