.search-item {
    display: block;
    background-color: #ffffff;
    padding: 16px;
    margin: 0px;
    border-left: 2px solid transparent;
    transition: all 480ms ease;
    cursor: pointer;
}

.search-item.selected {
    border-left-color: #28B76A;
}