<div>
    <input id="{{id}}" type="text" name="facultyAutocomplete" placeholder="{{placeholder}}" [ngModel]="inputValue" (ngModelChange)="set($event)" (focus)="focus($event)" (blur)="blur($event)" [lmnAutocompleteSelector]="autocomplete.getItems()" [lmnAutocomplete]="autocomplete" (lmnSelect)="setValue($event)" (lmnClose)="autocomplete.hide()" autocomplete="off" />
    <lmn-faculty-autocomplete [lmnAutocomplete]="autocomplete" (lmnSelect)="setValue($event)"></lmn-faculty-autocomplete>
</div>