@keyframes loading-rotate {
  0% {
    transform:rotateZ(0);
  }
  100% {
    transform:rotateZ(360deg);
  }
}



.animation-rotate {
  animation:loading-rotate 1650ms 0s infinite normal both;
  animation-name:loading-rotate;
  animation-duration:1300ms;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
}

