header {
    padding: 0px 32px;
}

h1 {
    margin: 16px 0px;
    font-style: italic;
    font-size: 24px;
    line-height: 2rem;
}

h2 {
    font-size: 20px;
    margin: 16px 0px 0px 0px;
    line-height: 1.44;
    text-align: center;
}

a {
    text-decoration: none;
    color: #28B76A;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 4px;
    transition: all ease 480ms;
}
a:hover {
    border-color: #28B76A;
}

a.link--dark {
    color: #1F2838;
}

a.link--dark:hover {
    color: #28B76A;
}

a.link--no-border, a.link--no-border:hover {
    border: none
}


a.link--image {
    display: block;
    padding: 0px;
}

a.link--image:hover {
    border-color: transparent;
}

p {
    color: #1F2838;
    line-height: 1.44;
    margin: 16px 0px;
}

b {
    font-weight: bold;
}

a.highlight {
    text-decoration: underline;
}

ul {
    margin: 16px 0px 0px 16px;
}

ul li {
    line-height: 1.44;
    margin: 0px 0px 16px 0px;
}

ul li:last-child {
    margin: 0px;
}

p.note {
    margin: 8px 16px;
    padding: 4px 16px;
    color: #9EA6B8;
    font-style: italic;
    border-left: 2px solid #C8D0DD;
}

img {
    display: block;
    width: 100%;
}

figure {
    padding: 32px 0px 16px 0px;
    color: #9EA6B8;
    font-style: italic;
}

figcaption {
    padding-top: 8px;
    text-align: center;
}

.ul-style {
    margin-top: 4px;
    color: #28B76A;
    font-size: 11px;
}

.list-text {
    margin-left: 16px;
}

.nav-logo {
    background-color: #EDEFF3;
    padding: 24px 16px;
    width: 80px;
}

.center-column {
    max-width: 800px;
    margin: 16px;
}

.blog-content {
    position: relative;
    padding: 16px 32px;
    background-color: #ffffff;
}

.date {
    font-style: italic;
    color: #9EA6B8;
}

.thumbnail {
    margin: 16px 16px 16px 0px;
    width: 160px;
}

.offset-left-whitespace {
    padding-left: 0.35rem;
}

.offset-left {
    padding-left: 16px;
}

.back-arrow {
    font-size: 20px;
}

.breadcrumps-item {
    padding: 0px 4px;
}

.breadcrumps-delimeter {
    font-size: 11px;
}

@media only screen and (max-width: 780px) {
    header {
        padding: 0px 16px;
    }
    .center-column {
        margin: 8px;
    }

    .blog-content {
        padding: 16px;
    }

    .nav-logo {
        padding: 16px 8px;
        width: 64px;
    }

    .list-text {
        margin-left: 8px;
    }

    .thumbnail {
        margin: 0px;
    }

    ul {
        margin-left: 8px;
    }

    p.note {
        margin: 8px;
    }
}