@media only screen and (min-width: 1024px) {
    .flexbox-row--center-l {
        justify-content: center;
        align-items: center;
        
    }
    .flexbox-row--start-center-l {
        justify-content: flex-start;
        align-items: center;
    }

    .flexbox-row--space-between-center-l {
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .flexbox-row--center-s {
        justify-content: center;
        align-items: center;
        
    }
    .flexbox-row--start-center-s {
        justify-content: flex-start;
        align-items: center;
    }

    .flexbox-row--space-between-center-s {
        justify-content: space-between;
        align-items: center;
    }

    .content {
        width: 50%;
    }

    .content.form {
        width: 100%;
    }

   .veski-logo{
        left: 0px;
        width: 64px;
        margin: 24px 16px;
    }

    .veski-logo-form {
        margin: 32px auto;
        width: 120px;
    }
}

@media only screen and (max-width: 780px) {
    .flexbox-item--order-1-xs {
        order: 1;
    }

    .flexbox-row--center-xs {
        justify-content: center;
        align-items: center;
    }
}