@font-face {
    font-family: 'Ebrima';
    src: url('../font/Ebrima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ebrima';
    src: url('../font/Ebrima Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #EDEFF3;
    font-family: "Ebrima", "Arial";
    font-size: 14px;
    color: #1F2838;
}

.form h2 {
    color: #1F2838;
    font-style: normal;
    font-weight: bold;
    margin: 16px 0px;
}

.text-center {
    text-align: center;
}

.flexbox {
    display: flex;
}
.flexbox > * {
    flex-grow: 0;
}
.flexbox-row {
    flex-direction: row;
}
.flexbox-column {
    flex-direction: column;
}
.flexbox-row--center {
    justify-content: center;
    align-items: center;
    
}
.flexbox-row--start-center {
    justify-content: center;
    align-items: flex-start;
}
.flexbox-row--center-start {
    justify-content: flex-start;
    align-items: center;
}
.flexbox-row--center-end {
    justify-content: flex-end;
    align-items: center;
}
.flexbox-row--center-between {
    justify-content: space-between;
    align-items: center;
}

.flexbox-row--space-between-center {
    justify-content: space-between;
    align-items: center;
}

.flexitem-flex {
    flex-grow: 1;
}

.flexitem-center {
    margin: auto;
}

input {
    line-height: 1.20;
}

input, textarea, select {
    color: #1F2838;
    background-color: transparent;
    border: solid 1px #C8D0DD;
    padding: 8px 16px;
    margin: 4px 0px;
    transition: all 480ms ease;
}

input:focus, input:hover, textarea:focus, textarea:hover {
    border-color: #28B76A;
    outline: 0px;
}

textarea {
    resize: none;
}

select:focus, button:focus {
    outline: 0px;
}

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
    color:    #9EA6B8;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
   color:    #9EA6B8;
}
 /* Mozilla Firefox 19+ */
::-moz-placeholder {
   color:    #9EA6B8;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
   color:    #9EA6B8;
}

.lmn-btn {
    margin: 4px 16px 4px 0px;
}
.lmn-btn:last-child {
    margin: 4px 0px;
}
.lmn-btn:focus {
    outline: 0px;
}
/*1F2838*/
.lmn-btn-submit, .lmn-btn-primary {
    position: relative;
    background-color: #28B76A;
    color: #ffffff;
    padding: 7px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all 480ms ease;
}

.lmn-btn-secondary, .lmn-btn-cancel {
    background-color: transparent;
    color: #9EA6B8;    
    padding: 7px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all 480ms ease;
}
.lmn-btn-secondary:hover, .lmn-btn-secondary:focus {
    color: #28B76A;
    border-color: #28B76A;
}
.lmn-btn-cancel:hover, .lmn-btn-cancel:focus {
    color: #FF5D5E;
    border-color: #FF5D5E;
}

.lmn-btn-submit--default, .lmn-btn-submit--focus {
    transition: all 480ms ease;
}
.lmn-btn-submit--focus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lmn-btn-submit .lmn-btn-submit--default, .lmn-btn-primary .lmn-btn-submit--default {
    opacity: 1;
}
.lmn-btn-submit:hover .lmn-btn-submit--default, .lmn-btn-submit:focus .lmn-btn-submit--default, .lmn-btn-primary:hover .lmn-btn-submit--default, .lmn-btn-primary:focus .lmn-btn-submit--default {
    opacity: 0;
}

.lmn-btn-submit .lmn-btn-submit--focus, .lmn-btn-primary .lmn-btn-submit--focus {
    opacity: 0;
}
.lmn-btn-submit:hover .lmn-btn-submit--focus, .lmn-btn-submit:focus .lmn-btn-submit--focus, .lmn-btn-primary:hover .lmn-btn-submit--focus, .lmn-btn-primary:focus .lmn-btn-submit--focus {
    opacity: 1;
}

.form .lmn-btn-submit, .form .lmn-btn-primary {
    width: 100%;
    margin-top: 16px;
}

.form input {
    width: 100%;
    line-height: 1.21;
}

.form input[type="checkbox"] {
    width: auto;
}

select.lmn-select {
    background: transparent;
    box-sizing: border-box;
    padding: 8px 16px;
}

.lmn-select .select-option-none {
    color: #9EA6B8;
}
.lmn-select .select-option-selected {
    color: #28B76A;
}

.validation-error-label {
    display: none;
    color: #FF5D5E;
}
.validation-error-label.show {
    display: initial;
}
.validation-error input, .validation-error input:focus, .validation-error textarea, .validation-error textarea:focus, .validation-error select, .validation-error select:focus {
    border-color: #FF5D5E;
    color: #FF5D5E;
}

.top-offset {
    padding: 16px 0px 0px 0px;
}

.copyright {
    color: #C8D0DD;
}

.copyright-veski-logo {
    width: 24px;
    margin: 0px 8px;
}

.veski-logo-delimeter {
    width: 40px;
    margin: 0px 8px;
}

.main-font-image {
    font-size: 80px;
}

.success {
    color: #28B76A;
}

.error {
    color: #FF5D5E;
}

.center {
    text-align: center;
}

.offset-top {
    padding-top: 16px;
}

.veski-logo{
    position: absolute;
    top: 0px;
    left: 16px;
    margin: 24px 16px;
    width: 80px;
    cursor: pointer;
}
.veski-logo img, .veski-logo-form img {
    width: 100%;
}

.veski-logo-form {
    margin: 48px auto;
    width: 160px;
    cursor: pointer;
}

.main {
    height: 100%;
}

.content {
    width: 20%;
    min-width: 320px;
    max-width: 384px;
}

.form-box {
    background-color: #ffffff;
    padding: 16px;
    margin:16px;
}

.footer {
    padding: 16px 0px;
    margin: 16px 0px 0px 0px;
    color: #9EA6B8;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flexbox-ellipsis-fix {
    min-width: 0px;
}

.form-footer {
    padding: 0px 16px;
    margin: 0px 16px 16px 16px;
}

.lmn-input-container label, .lmn-input-container .lmn-label {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.lmn-input-container input[type="checkbox"] + label {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    color: #9EA6B8;
    padding: 0px 0px 0px 8px;
}

.lmn-input-container input, .lmn-input-container select, .lmn-input-container textarea, .lmn-input-container select.lmn-select, .lmn-input-container .lmn-input {
    border-left: solid 2px #C8D0DD;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 8px 16px;
    margin: 16px 0px 0px 0px;
}

.lmn-input-container input:focus, .lmn-input-container select:focus, .lmn-input-container textarea:focus, .lmn-input-container select:focus.lmn-select, .lmn-input-container .lmn-input--focus {
    border-color: #28B76A;
}

.lmn-input-container .lmn-input--no-border, .lmn-input-container .lmn-input.lmn-input--no-border, .lmn-input-container .lmn-input--no-border:focus, .lmn-input-container .lmn-input.lmn-input--no-border.lmn-input--focus {
    border-color: transparent;
    border: none;
}

.lmn-input-container .lmn-input--no-padding, .lmn-input-container .lmn-input.lmn-input--no-padding {
    padding: 0px;
}

.lmn-input-container .lmn-input--no-margin, .lmn-input-container .lmn-input.lmn-input--no-margin {
    margin: 0px;
}

.validation-error.lmn-input-container input, .validation-error.lmn-input-container select, .validation-error.lmn-input-container textarea {
    border-color: #FF5D5E;
}

.validation-error.lmn-input-container input[type="checkbox"] + label {
    color: #FF5D5E;
}

@media only screen and (max-width: 780px) {
    .flexbox-column--xs {
        flex-direction: column;
    }
}