h1 {
    margin: 16px 0px;
    font-style: italic;
    font-size: 24px;
}

h2 {
    font-style: italic;
    color: #9EA6B8;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0px;
    line-height: 1.44;
}

.form h2 {
    color: #1F2838;
    font-style: normal;
    font-weight: bold;
    margin: 16px 0px;
}

a {
    text-decoration: none;
    color: #9EA6B8;
}
a:hover {
    color: #1F2838;
}

p {
    color: #9EA6B8;
}

a.highlight {
    text-decoration: underline;
}