@font-face {
    font-family: 'Ebrima';
    src: local('Ebrima'), 
        url('../font/Ebrima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ebrima';
    src: local('Ebrima Bold'),
        url('../font/Ebrima Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #EDEFF3;
    font-family: "Ebrima", "Arial";
    font-size: 14px;
    color: #1F2838;
}

header {
    margin: 20px 0px 16px 0px;
}

h1 {
    font-size: 24px;
    line-height: 32px
}

h2 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 14px;
    line-height: 1.42;
    margin: 8px 0px 0px 0px;
}

p.inline-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

b {
    font-weight: bold;
}

a {
    color: #9EA6B8;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #1F2838;
    text-decoration: none;
}

a.a-black {
    color: #1F2838;
}
a.a-black:hover {
    color: #28B76A;
}

a.a--negative:hover {
    color: #FF5D5E;
}

a.guide {
    display: inline-block;
    color: #C8D0DD;
    border: solid 1px #C8D0DD;
    border-radius: 16px;
    padding: 8px 16px;
}

a.guide:hover, a.guide:not([href]):hover {
    color: #28B76A;
    border-color: #28B76A;
}

input {
    line-height: 1.20;
}

input, textarea, select {
    color: #1F2838;
    background-color: transparent;
    border: solid 1px #C8D0DD;
    padding: 8px 16px;
    margin: 4px 0px;
    transition: all 480ms ease;
}

input:focus, input:hover, textarea:focus, textarea:hover {
    border-color: #28B76A;
    outline: 0px;
}

textarea {
    resize: none;
}

select:focus, button:focus {
    outline: 0px;
}

.validation-error input, .validation-error input:focus, .validation-error textarea, .validation-error textarea:focus, .validation-error select, .validation-error select:focus {
    border-color: #FF5D5E;
    color: #FF5D5E;
}

.validation-error-label {
    color: #FF5D5E;
}

/* Linput */
.lmn-linput {
    width: 100%;
    box-sizing: border-box;
    border-left: 2px solid #C8D0DD;
    padding: 8px 16px;
    cursor: text;
}

.validation-error .lmn-linput.linput-no-border, .lmn-linput.linput-no-border, .lmn-linput.validation-error.linput-no-border {
    border-color: transparent;
}

.lmn-linput.lmn-focus {
    border-color: #28B76A;
}
.lmn-linput.lmn-focus .label {
    color: #28B76A;
}

.validation-error .lmn-linput, .lmn-linput.validation-error {
    border-color: #FF5D5E;
}
.validation-error .lmn-linput.lmn-focus .label {
    color: #FF5D5E;
}


.lmn-linput input, .lmn-linput select, .lmn-linput textarea, .lmn-linput select.lmn-select {
    border: none;
    padding: 0px
}

.lmn-linput .label {
    color: #9EA6B8;
    font-size: 11px;
}

.lmn-input-container label, .lmn-input-container .lmn-label {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.lmn-input-container input, .lmn-input-container select, .lmn-input-container textarea, .lmn-input-container select.lmn-select, .lmn-input-container .lmn-input {
    border-left: solid 2px #C8D0DD;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 8px 16px;
    margin: 8px 0px 0px 0px;
}

.lmn-input-container input:focus, .lmn-input-container select:focus, .lmn-input-container textarea:focus, .lmn-input-container select:focus.lmn-select, .lmn-input-container .lmn-input--focus {
    border-color: #28B76A;
}

.lmn-input-container .lmn-input--no-border, .lmn-input-container .lmn-input.lmn-input--no-border, .lmn-input-container .lmn-input--no-border:focus, .lmn-input-container .lmn-input.lmn-input--no-border.lmn-input--focus {
    border-color: transparent;
    border: none;
}

.lmn-input-container .lmn-input--no-padding, .lmn-input-container .lmn-input.lmn-input--no-padding {
    padding: 0px;
}

.lmn-input-container .lmn-input--no-margin, .lmn-input-container .lmn-input.lmn-input--no-margin {
    margin: 0px;
}

.validation-error .lmn-input-container  input, .validation-error .lmn-input-container select, .validation-error .lmn-input-container textarea {
    border-color: #FF5D5E;
}

.autocomplete-scroll-pane {
    max-height: 400px;
    overflow: auto;
}

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
    color:    #9EA6B8;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
   color:    #9EA6B8;
}
 /* Mozilla Firefox 19+ */
::-moz-placeholder {
   color:    #9EA6B8;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
   color:    #9EA6B8;
}

/* WebKit/Blink Browsers */
::selection {
  background: #28B76A;
  color: #ffffff;
}
/* Gecko Browsers */
::-moz-selection {
  background: #28B76A;
  color: #ffffff;
}

/* Override Bootstrap */
#veski {
    height: 100%;
}

.main {
    height: 100%;
}

.nav {
    display: flex;
}
#veski .nav-tabs .nav-link {
    border: none;
    border-radius: 0px;
    color: #9EA6B8;
    padding: 8px 16px;
}
#veski .nav-tabs .nav-item:first-child .nav-link {
    padding-left: 0px;
}
#veski .nav-tabs .nav-item:last-child .nav-link {
    padding-right: 0px;
}
#veski .nav-tabs .nav-link.active, #veski .nav-tabs .nav-link:hover {
    border: none;
    color: #1F2838;
    background-color: transparent;
}
#veski .nav-tabs {
    border: none;
}

.veski-loading-image {
    width: 10%;
    max-width: 100px;
}
.veski-loading-image img {
    width: 100%;
}

.flexbox {
    display: flex;
}
.flexbox-row {
    flex-direction: row;
}
.flexbox-row--center {
    justify-content: center;
    align-items: center;
    
}

.with-line-break {
    white-space: pre-wrap;
}

/* Custom classes */

.logo-padding {
    margin: 48px 32px 32px 32px;
    cursor: pointer;
}
.logo-padding img {
    width: 100%;
}

.menu-item-description {
    padding: 8px 0px 0px 0px;
}

.dotdotdot {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.layout-container {
    max-width: 1400px;
    padding: 0px 16px;
}

.content-container {
    padding: 0px 48px 0px 0px;
}

.main-container .layout-nav {
    width: 136px;
    min-width: 136px;
}

.layout-body {
    min-width: 0;
}

.layout-side {
    width: 480px;
}

.lmn-tab-content {
    padding: 32px 0px 0px 0px;
}

body.lmn-modal-open {
    overflow: hidden;
}

.action-bar {
    
}
.action-bar-button {
    padding: 16px;
    color: #1F2838;
    cursor: pointer;
}
.action-bar-button.action-bar-button--progress {
    color: #9EA6B8;
    cursor: not-allowed;
}
.action-bar-button:hover {
    color: #28B76A;
}
.action-bar-button.action-bar-button--negative:hover {
    color: #FF5D5E;
}

.action-text {
    color: #9EA6B8;
    cursor: pointer;
}

.action-text:hover {
    color: #1F2838;
}

.action-text.action-text--negative:hover {
    color: #FF5D5E;
}

.action-text.action-text--positive:hover {
    color: #28B76A;
}

.drop-shadow {
    box-shadow: 0px 0px 8px rgba(31, 40, 56, 0.4);
}

#veski .palette-bg {
    color: #ffffff;
}
#veski .palette-black.palette-bg {
    background-color: #1F2838;
}
#veski .palette-red.palette-bg {
    background-color: #FB6061;
}
#veski .palette-orange.palette-bg {
    background-color: #FCA35D;
}
#veski .palette-yellow.palette-bg {
    background-color: #F6D371;
}
#veski .palette-green.palette-bg {
    background-color: #96DB71;
}
#veski .palette-veski.palette-bg {
    background-color: #28B76A;
}
#veski .palette-loading.palette-bg {
    background-color: #C8D0DD;
}
#veski .palette-teel.palette-bg {
    background-color: #69E4ED;
}
#veski .palette-blue.palette-bg {
    background-color: #3D8CEE;
}
#veski .palette-purple.palette-bg {
    background-color: #8E7EDF;
}

#veski .palette-black-light.palette-bg {
    background-color: #9EA6B8;
}
#veski .palette-red-light.palette-bg {
    background-color: #FDA6A6;
}
#veski .palette-orange-light.palette-bg {
    background-color: #FFC493;
}
#veski .palette-yellow-light.palette-bg {
    background-color: #FDE7AE;
}
#veski .palette-green-light.palette-bg {
    background-color: #BFEEA6;
}
#veski .palette-teel-light.palette-bg {
    background-color: #9BF3F9;
}
#veski .palette-blue-light.palette-bg {
    background-color: #92BDFB;
}
#veski .palette-purple-light.palette-bg {
    background-color: #BEB1F7;
}

#veski .palette-black.palette-border {
    border-color: #1F2838;
}
#veski .palette-red.palette-border {
    border-color: #FB6061;
}
#veski .palette-orange.palette-border {
    border-color: #FCA35D;
}
#veski .palette-yellow.palette-border {
    border-color: #F6D371;
}
#veski .palette-green.palette-border {
    border-color: #96DB71;
}
#veski .palette-veski.palette-border {
    border-color: #28B76A;
}
#veski .palette-loading.palette-border {
    border-color: #C8D0DD;
}
#veski .palette-teel.palette-border {
    border-color: #69E4ED;
}
#veski .palette-blue.palette-border {
    border-color: #3D8CEE;
}
#veski .palette-purple.palette-border {
    border-color: #8E7EDF;
}
#veski .palette-black-light.palette-border {
    border-color: #9EA6B8;
}
#veski .palette-red-light.palette-border {
    border-color: #FDA6A6;
}
#veski .palette-orange-light.palette-border {
    border-color: #FFC493;
}
#veski .palette-yellow-light.palette-border {
    border-color: #FDE7AE;
}
#veski .palette-green-light.palette-border {
    border-color: #BFEEA6;
}
#veski .palette-teel-light.palette-border {
    border-color: #9BF3F9;
}
#veski .palette-blue-light.palette-border {
    border-color: #92BDFB;
}
#veski .palette-purple-light.palette-border {
    border-color: #BEB1F7;
}

.palette-green.palette-inverse {
    background-color: #ffffff;
    color: #96DB71;
}
.palette-veski.palette-inverse {
    background-color: #ffffff;
    color: #28B76A;
}
.palette-loading.palette-inverse {
    background-color: #ffffff;
    color: #ffffff;
}

.label-note {
    color: #9EA6B8;
    font-size: 11px;
}
.label-info {
    color: #9EA6B8;
    font-size: 13px;
}

.space-left-16 {
    margin-left: 16px;
}
.space-left-8 {
    margin-left: 8px;
}
.space-right-8 {
    margin-right: 8px;
}
.space-top-8 {
    margin-top: 8px;
}
.top-offset, .top-offset-res {
    padding: 16px 0px 0px 0px;
}
.top-offset-32, .top-offset-32-res {
    padding: 32px 0px 0px 0px;
}

.icon-with-number--left {
    padding: 0px 0px 0px 16px;
}

.icon-with-number--left:first-child {
    padding: 0px;
}

.icon-with-number:last-child {
    padding: 0px 0px 0px 8px;
}

.icon-with-number {
    padding: 0px 8px;
}

.icon-with-number--big {
    font-size: 15px;
}

.lmn-ti-vertical {
    transform: rotateZ(90deg);
}

/* FORM COMPONENTS */
.lmn-btn {
    margin: 4px 16px 4px 0px;
}
.lmn-btn:last-child {
    margin: 4px 0px;
}
.lmn-btn:focus {
    outline: 0px;
}
/*1F2838*/
.lmn-btn-submit, .lmn-btn-primary {
    position: relative;
    background-color: #28B76A;
    color: #ffffff;
    padding: 7px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all 480ms ease;
}

.lmn-btn-submit--default, .lmn-btn-submit--focus {
    transition: all 480ms ease;
}

.lmn-btn-submit--focus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lmn-btn-submit .lmn-btn-submit--default, .lmn-btn-primary .lmn-btn-submit--default {
    opacity: 1;
}
.lmn-btn-submit:hover .lmn-btn-submit--default, .lmn-btn-submit:focus .lmn-btn-submit--default, .lmn-btn-primary:hover .lmn-btn-submit--default, .lmn-btn-primary:focus .lmn-btn-submit--default {
    opacity: 0;
}

.lmn-btn-submit .lmn-btn-submit--focus, .lmn-btn-primary .lmn-btn-submit--focus {
    opacity: 0;
}
.lmn-btn-submit:hover .lmn-btn-submit--focus, .lmn-btn-submit:focus .lmn-btn-submit--focus, .lmn-btn-primary:hover .lmn-btn-submit--focus, .lmn-btn-primary:focus .lmn-btn-submit--focus {
    opacity: 1;
}

.lmn-btn-secondary {
    background-color: #C8CEDB;
    color: #ffffff;
    padding: 7px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all 480ms ease;
}

.lmn-btn-cancel {
    background-color: transparent;
    color: #9EA6B8;
    padding: 7px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all 480ms ease;
}
.lmn-btn-secondary:hover, .lmn-btn-secondary:focus, .lmn-btn-cancel:hover, .lmn-btn-cancel:focus {
    background-color: #FF5D5E;
    color: #ffffff;
    border-color: #FF5D5E;
}

.lmn-btn.lmn-btn--disabled, .lmn-btn.lmn-btn--progress {
    background-color: transparent;
    border-color: #C8CEDB;
    color: #9EA6B8;
}

.lmn-btn.lmn-btn--disabled:hover, .lmn-btn.lmn-btn--disabled:focus {
    cursor: not-allowed;
}

.lmn-btn.lmn-btn--progress:hover, .lmn-btn.lmn-btn--progress:focus {
    cursor: progress;
}

.lmn-btn.lmn-btn--no-margin {
    margin-right: 0px;
}

.lmn-btn-link {
    background-color: transparent;
    color: #9EA6B8;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 480ms ease;
}

.lmn-btn-link:hover, .lmn-btn-link:focus {
    color: #1F2838;
}

select.lmn-select {
    background: transparent;
    box-sizing: border-box;
    padding: 8px 16px;
}

.lmn-select .select-option-none {
    color: #9EA6B8;
}
.lmn-select .select-option-selected {
    color: #28B76A;
}

/* LOADING */
.loading-h1, .loading-h2, .loading-p, .loading-label-info {
    background-color: #C8CEDB;
}

.w-20 {
    width: 20%;
}
.w-33 {
    width: 33%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.w-160p {
    width: 160px;
}

.lmn-success {
    color: #28B76A;
}

/* loading animation */
.fade-animation-parent {
    position: relative;
}

.fade-animation-child {
    position: absolute;
    top: 0px;
    width: 100%;
}

.flexbox-dotdotdot-fix {
    min-width: 0px;
}

.highlight {
    background-color: #ffffd0;
}
.highlight-word {
    background-color: #f7f79b;
}
a.highlight-word {
    color: #177040;
}
a.highlight-word:hover {
    color: #28B76A;
}

/*  Animation */
@keyframes highlight-item {
    0% {
        background-color: #99e8bb;
    }
    33% {
        background-color: #74E4A5;
    }
    100% {
        background-color: transparent;
    }
}
