:host {
    display: block;
    color: #9EA6B8;
    margin: 16px 0px 0px 0px;
    padding: 16px;
    font-size: 13px;
}

.copyright {
    color: #C8D0DD ;
}

.copyright-veski-logo {
    width: 24px;
    margin: 0px 8px;
}