.header-fixed {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 3;
    border-bottom: 2px solid transparent;
    -webkit-backface-visibility: hidden;
}

.header-fixed .logo-padding {
    margin: 16px auto;
    width: 48px;
}

.notification-bar {
    position: relative;
    padding: 4px 0px;
}

.header-title-container {
    max-width: 100%;
}

.header-title-text {
    padding: 16px 0px 0px 0px;
}

.header-tab {
    padding: 16px;
    color: #9EA6B8;
    cursor: pointer;
}

.header-tab.selected, .header-tab:hover {
    color: #1F2838;
}

.header-tab:first-child  {
    padding-left: 0px;
}

@media only screen and (max-width: 1279px) {
    .header-fixed {
        height: 48px;
    }
}