<div class="header-fixed drop-shadow palette-border {{getSubjectColor()}}">
    <lmn-app-layout lmnSideAlign="center">
        <div lmn-lout-nav>
            <div class="logo-padding" fxLayout="row" fxLayoutAlign="space-around center" [routerLink]="['/']">
                <img src="app/assets/image/logo-notext.png" />
            </div>
        </div>
        <div lmn-lout-body>
            <div class="content-container" fxLayout="column" fxLayoutAlign.gt-md="space-between start">
                <div fxFlex="grow" class="header-title-container">
                    <h2 class="header-title-text dotdotdot" title="{{title}}">{{title}}</h2>
                </div>
                <div fxHide="true" fxHide.gt-md="false" fxLayout="row">
                    <span class="header-tab" [ngClass]="{'selected': tab.isSelected()}" *ngFor="let tab of tabs" (click)="onTabClick(tab)">{{tab.getName()}}</span>
                </div>
            </div>
        </div>
        <div lmn-lout-side fxFlexAlign="center">
            <div class="notification-bar" fxLayout="row" fxLayoutAlign="start center">
                <lmn-search lmnCompact="true" fxFlex></lmn-search>
                <lmn-more-dropdown lmnDropdownLeft="true" lmnIcon="ti-plus">
                    <div class="lmn-dropdown-menu-item action-text">
                        Pridať udalosť
                    </div>
                    <div class="lmn-dropdown-menu-item action-text">
                        Pridať predmet
                    </div>
                </lmn-more-dropdown>
                <lmn-notification-icon></lmn-notification-icon>
                <lmn-signout></lmn-signout>
            </div>
        </div>
    </lmn-app-layout>
</div>