<div fxLayout="column" fxfill>
    <lmn-mark-top [lmnSubject]=""></lmn-mark-top>
    <header>
        <div class="fade-animation-parent">
            <h1 [@fadeIfState]="" *ngIf="true" class="dotdotdot">{{getWelcomeMessage()}}</h1>
            <h1 class="fade-animation-child" [@fadeIfState]="" *ngIf="false" fxLayout="row"><div class="loading-h1 w-33">&nbsp;</div></h1>
        </div>
    </header>
    <ngb-tabset #tabset="ngbTabset">
        <ngb-tab id="tab-main-1">
            <ng-template ngbTabTitle>
                <h3>PREHĽAD</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="" fxLayout="column" fxfill>
                    <lmn-thread-list-compact [lmnThreads]="allThreads" (lmnLoadMore)="onLoadMore()"></lmn-thread-list-compact>
                    <lmn-no-content-text class="top-offset-32" [hidden]="allThreads.length > 0">
                        <span>Začni <a class="guide" (click)="tabset.select('tab-main-2')">zápisom</a> svojích predmetov</span>
                    </lmn-no-content-text>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-main-2">
            <ng-template ngbTabTitle>
                <h3>PREDMETY</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                    <lmn-subject-join></lmn-subject-join>
                    <div class="top-offset-res">
                        <lmn-subject-item class="top-offset-res" *ngFor="let subject of subjects" [lmnSubject]="subject"></lmn-subject-item>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-main-3">
            <ng-template ngbTabTitle>
                <h3>PROFIL</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                    <lmn-profile [lmnUser]="0"></lmn-profile>
                    <lmn-settings class="top-offset-32"></lmn-settings>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
