.mobile-menu {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.mobile-menu-item {
    padding: 16px;
}

.mobile-menu-item:hover, .mobile-menu-item.selected {
    color: #28B76A;
}

.notification-icon-count {
    font-size: 13px;
    padding: 0px 8px 0px 0px;
}