<div class="mobile-menu drop-shadow" fxLayout="row" fxLayoutAlign="space-around center">
    <span class="mobile-menu-item ti-menu" [ngClass]="{'selected': selected == 'menu'}" (click)="select('menu')"></span>
    <span class="mobile-menu-item ti-search" [ngClass]="{'selected': selected == 'search'}" (click)="select('search')"></span>
    <div class="mobile-menu-item" [ngClass]="{'selected': selected == 'notification', 'has-new': getNewCount() > 0}" fxLayout="row" fxLayoutAlign="start center" (click)="select('notification')">
        <span class="notification-icon-count" [hidden]="!getNewCount()">{{getNewCount()}}</span>
        <span class="ti-bell"></span>
    </div>
    <span class="mobile-menu-item ti-calendar" [ngClass]="{'selected': selected == 'calendar'}" (click)="select('calendar')"></span>
</div>