<div>
    <h2>Notifikácie</h2>
    <div class="top-offset">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>Notifikácie v prehliadači</span>
            <div>
                <button type="button" class="lmn-btn lmn-btn-primary" [hidden]="enableBrowserNotification" (click)="enable()">Povoliť</button>
                <h3><span class="ti-check lmn-success" [hidden]="!enableBrowserNotification"></span></h3>
            </div>
        </div>
    </div>
</div>