<div>
    <lmn-mark-top [lmnSubject]=""></lmn-mark-top>
    <header>
        <div class="fade-animation-parent">
            <h1 [@fadeIfState]="" *ngIf="slug" class="dotdotdot"># | {{slug}}</h1>
        </div>
    </header>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <h3>PRÍSPEVKY</h3>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="lmn-tab-content" [@fadeIfState]="">
                    <lmn-thread-list-compact [lmnThreads]="threads" (lmnLoadMore)="onLoadMore()"></lmn-thread-list-compact>
                    <lmn-no-content-text class="top-offset-32" [hidden]="threads.length > 0">
                        <span>Tento tag nebol použitý v žiadnom príspevku.</span>
                    </lmn-no-content-text>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
