.tab-content {
    padding: 48px 0px 0px 0px;
}

.calendar-block {
    margin: 50px 42px;
    background-color: #ffffff;
    height: 360px;
}

.side-search {
    margin: 40px 0px 31px 0px;
    height: 75px;
}

.notification-bar {
    position: relative;
    margin: 5px 0px 0px 0px;
}

.calendar-container {
    
}

.scroll-fix {
    position: fixed;
    overflow: auto;
    top: 80px;
    bottom: 0px;
    width: 136px;
    -webkit-backface-visibility: hidden;
}
