<div [hidden]="!isSignIn()">
    <lmn-header-fixed [hidden]="!showHeader()"></lmn-header-fixed>
    <lmn-app-layout (dragenter)="onFileOver($event)" (dragleave)="onFileOut($event)" (draagend)="onFileDrop($event)">
        <div lmn-lout-nav>
            <div class="logo-padding" fxLayout="row" fxLayoutAlign="space-around center" [routerLink]="['/']">
                <img src="app/assets/image/logo.svg" />
            </div>
            <lmn-menu [ngClass]="{'scroll-fix': showHeader()}"></lmn-menu>
        </div>
        <div lmn-lout-body fxLayout="column">
            <div class="content-container" fxLayout="column">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div lmn-lout-side *ngIf="!hasNav()">
            <div class="side-search" fxLayout="column" fxLayoutAlign="center stretch">
                <div class="notification-bar" fxLayout="row" fxLayoutAlign="start center">
                    <lmn-search lmnCompact="true" fxFlex></lmn-search>
                    <lmn-more-dropdown lmnDropdownLeft="true" lmnIcon="ti-plus">
                        <div class="lmn-dropdown-menu-item action-text">
                            Pridať udalosť
                        </div>
                        <div class="lmn-dropdown-menu-item action-text">
                            Pridať predmet
                        </div>
                    </lmn-more-dropdown>
                    <lmn-notification-icon></lmn-notification-icon>
                    <lmn-signout></lmn-signout>
                </div>
            </div>
            <div class="calendar-container">
                <lmn-calendar></lmn-calendar>
            </div>
            <lmn-footer></lmn-footer>
        </div>
    </lmn-app-layout>
    <ng-container *ngIf="hasNav()">
        <lmn-mobile-nav fxHide="false" fxHide.gt-md [lmnSelected]="mobileNav" (lmnSelect)="setMobileNav($event)"></lmn-mobile-nav> 
        <lmn-mobile-menu fxHide="false" fxHide.gt-md [hidden]="!isNavVisible('menu')" (lmnClose)="setMobileNav('')" [@fadeHiddenState]="isNavVisible
        ('menu')"></lmn-mobile-menu>
        <lmn-mobile-calendar fxHide="false" fxHide.gt-md [hidden]="!isNavVisible('calendar')" (lmnClose)="setMobileNav('')" [@fadeHiddenState]="isNavVisible
        ('calendar')" *ngIf="hasMenu"></lmn-mobile-calendar>
        <lmn-mobile-search [hidden]="!isNavVisible('search')" [lmnShow]="isNavVisible('search')" (lmnClose)="setMobileNav('')" [@fadeHiddenState]="isNavVisible
        ('search')"></lmn-mobile-search>
        <lmn-mobile-notification-list fxHide="false" fxHide.gt-md [hidden]="!isNavVisible('notification')" (lmnClose)="setMobileNav('')" [@fadeHiddenState]="isNavVisible
        ('notification')" *ngIf="hasMenu"></lmn-mobile-notification-list>
    </ng-container>
</div>
