<lmn-form-box class="active">
    <div>
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="formBox.submit($event)">
        <lmn-validation-error-shell [lmnControl]="form.get('password')">
            <div class="lmn-input-container">
                <label for="password">Heslo</label>
                <input id="password" type="password" formControlName="password" placeholder="Zadaj svoje aktuálne heslo" (focus)="formBox.focus('password')" (blur)="formBox.blur('password')" />
            </div>
        </lmn-validation-error-shell>
        <lmn-validation-error-shell [lmnControl]="form.get('newPassword')">
            <div class="lmn-input-container top-offset-res">
                <label for="new-password">Nové heslo</label>
                <input id="new-password" type="password" formControlName="newPassword" placeholder="Zadaj nové heslo" (focus)="formBox.focus('newPassword')" (blur)="formBox.blur('newPassword')" />
            </div>
        </lmn-validation-error-shell>
        <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
            <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('create-cancel')" (blur)="formBox.blur('create-cancel')" (click)="onClose()">Zrušiť</button>
            <button type="submit" name="update" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('update')" (blur)="formBox.blur('update')">
                <span class="lmn-btn-submit--default">Uložiť</span>
                <span class="lmn-btn-submit--focus ti-check"></span>
            </button>
        </div>
    </form>
</lmn-form-box>
