<lmn-form-box class="active">
    <div>
        <div *ngFor="let error of errors" class="validation-error-label" [@fadeIfState]="">{{error}}</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="formBox.submit($event)">
        <div fxLayout="column" fxLayout.gt-md="row" class="lmn-input-container--row">
            <lmn-validation-error-shell [lmnControl]="form.get('name')" fxFlex="grow" fxFlex.gt-md="50">
                <div class="lmn-input-container">
                    <label for="account-name">Meno</label>
                    <input id="account-name" type="text" formControlName="name" placeholder="Zadaj svoje meno" [(ngModel)]="name" (focus)="formBox.focus('name')" (blur)="formBox.blur('name')" />
                </div>
            </lmn-validation-error-shell>
            <lmn-validation-error-shell [lmnControl]="form.get('surname')" class="offset-left" fxFlex="grow" fxFlex.gt-md="50">
                <div class="lmn-input-container">
                    <label for="account-surname">Priezvisko</label>
                    <input id="account-surname" type="text" formControlName="surname" placeholder="Zadaj svoje priezvisko" [(ngModel)]="surname" (focus)="formBox.focus('surname')" (blur)="formBox.blur('surname')" />
                </div>
            </lmn-validation-error-shell>
        </div>
        <div class="lmn-input-container top-offset-res">
            <label for="account-faculty">Fakulta</label>
            <lmn-faculty-input lmnId="account-faculty" formControlName="faculty" lmnPlaceholder="Vyber svoju fakultu" [(ngModel)]="faculty" (lmnFocus)="formBox.focus('faculty')" (lmnBlur)="formBox.blur('faculty')"></lmn-faculty-input>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" class="top-offset-res lmn-input-container--row">
            <div class="lmn-input-container" fxFlex="grow" fxFlex.gt-md="50">
                <label for="account-degree">Stupeň štúdia</label>
                <select id="account-degree" formControlName="degreeId" class="lmn-select" [(ngModel)]="degreeId" (focus)="formBox.focus('degreeId')" (blur)="formBox.blur('degreeId')">
                    <option [ngValue]="0" class="select-option-none">Vyber si stupeň štúdia</option>
                    <option *ngFor="let item of degrees" [ngValue]="item.get('id')" [ngClass]="{'select-option-selected': item.get('id') == degreeId}">{{item.get('name')}}</option>
                </select>
            </div>
            <div class="lmn-input-container offset-left" fxFlex="grow" fxFlex.gt-md="50">
                <label for="account-studyyear">Rok štúdia</label>
                <lmn-number-input class="lmn-input" [ngClass]="{'lmn-input--focus': formBox.hasFocus('studyyear')}" formControlName="studyyear" lmnId="account-studyyear" [(ngModel)]="studyyear" (lmnFocus)="formBox.focus('studyyear')" (lmnBlur)="formBox.blur('studyyear')"></lmn-number-input>
            </div>
        </div>
        <div class="space-top-8" fxLayout="row">
            <lmn-file-input lmnText="Profilová fotka" (lmnFiles)="attachFiles($event)" (lmnFocus)="formBox.focus('attach-file')" (lmnBlur)="formBox.blur('attach-file')"></lmn-file-input>
            <lmn-file-upload class="file-item" *ngIf="avatarFile" [lmnFile]="avatarFile.file" [lmnUpload]="avatarFile.upload" (lmnClose)="dettache()"></lmn-file-upload>
        </div>
        <div class="space-top-8" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start strech" fxLayoutAlign.gt-md="end center">
            <button type="button" name="cancel" class="lmn-btn lmn-btn-cancel" (focus)="formBox.focus('create-cancel')" (blur)="formBox.blur('create-cancel')" (click)="onClose()">Zrušiť</button>
            <button type="submit" name="update" class="lmn-btn lmn-btn-primary" [ngClass]="{'lmn-btn--progress': !formBox.isReady()}" (focus)="formBox.focus('update')" (blur)="formBox.blur('update')">
                <span class="lmn-btn-submit--default">Uložiť</span>
                <span class="lmn-btn-submit--focus ti-check"></span>
            </button>
        </div>
    </form>
    <lmn-file-dropzone (lmnFiles)="attachDropFiles($event)"></lmn-file-dropzone>
</lmn-form-box>
