<div *ngIf="user">
    <div class="action-bar" fxLayout="row" fxLayoutAlign="end center">
        <div class="action-bar-button" (click)="show('edit')">
            <span class="ti-pencil"></span>
        </div>
        <div class="action-bar-button" (click)="show('password')">
            <span class="ti-key"></span>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start start" [hidden]="!isVisible()" [@fadeHiddenState]="isVisible()">
        <div class="profile-avatar" [ngClass]="{'profile-initials': !hasAvatar()}" fxLayout="row" fxLayoutAlign="center center">
            <img src="{{getAvatar()}}" *ngIf="hasAvatar()" />
            <h1 *ngIf="!hasAvatar()">{{user.getInitials()}}</h1>
        </div>
        <div class="profile-info" fxLayout="column" fxLayout.gt-md="row" fxFlex="grow" fxFlex.gt-md>
            <div fxFlex.gt-md="40" class="top-offset-s">
                <div class="profile-info-block">
                    <h2>Meno a priezvisko</h2>
                    <div>{{user.get('fullname')}}</div>
                </div>
                <div class="profile-info-block">
                    <h2>Email</h2>
                    <div class="dotdotdot" title="{{user.get('email')}}">{{user.get('email')}}</div>
                </div>
            </div>
            <div fxFlex.gt-md="40" class="top-offset-s">
                <div class="profile-info-block">
                    <h2>Škola</h2>
                    <div>{{user.get('settings.faculty.university.name')}}</div>
                </div>
                <div class="profile-info-block">
                    <h2>Fakulta</h2>
                    <div>{{user.get('settings.faculty.name')}}</div>
                </div>
            </div>
            <div fxFlex.gt-md="20" class="top-offset-s">
                <div class="profile-info-block">
                    <h2>Stupeň</h2>
                    <div>{{user.get('settings.degree.code')}}</div>
                </div>
                <div class="profile-info-block">
                    <h2>Ročník</h2>
                    <div>{{user.get('settings.studyyear')}}</div>
                </div>
            </div>
        </div>
    </div>
    <lmn-profile-edit [lmnUser]="user" (lmnClose)="hide()" [hidden]="!isVisible('edit')" [@fadeHiddenState]="isVisible('edit')"></lmn-profile-edit>
    <lmn-password-edit (lmnClose)="hide()" [hidden]="!isVisible('password')" [@fadeHiddenState]="isVisible('password')"></lmn-password-edit>
</div>