:host {
    display: block;
    position: relative;
}

.profile-avatar {
    position: relative;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

.profile-initials {
    background-color: #C8D0DD;
    color: #ffffff;
}

.profile-avatar img {
    width: 100%;
}

.profile-info {
    padding: 0px 0px 0px 32px;
}

.profile-info-block {
    padding: 32px 0px 0px 0px;
}
.profile-info-block:first-child {
    padding: 0px;
}
.profile-info-block h2 {
    padding: 0px 0px 8px 0px;
}

@media only screen and (max-width: 1279px) {
    .profile-avatar {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        margin: auto;
    }

    .profile-info-block {
        padding: 16px 0px 0px 0px;
    }

    .profile-info {
        padding: 0px;
    }
}