.signout-icon {
    cursor: pointer;
    padding: 16px;
    font-size: 15px;
}

.signout-icon:hover {
    color: #FF5D5E;
}

@media only screen and (max-width: 1279px) {
    .signout-icon {
        padding: 8px;
    }
}