<div fxLayout="row" fxLayoutAlign="start center">
    <div class="user-label-image" [ngClass]="{'user-label-initials': !hasAvatar()}" fxLayout="row" fxLayoutAlign="center center">
        <span [hidden]="hasAvatar()">{{getInitials()}}</span>
        <img [hidden]="!hasAvatar()" src="{{getAvatar()}}" /></div>
    <div class="user-label-name">{{user.get('fullname')}}</div>
</div>
