<div class="user-label-image" [ngClass]="{'user-label-initials': !hasAvatar()}" fxLayout="row" fxLayoutAlign="center center">
    <span *ngIf="!hasAvatar()">{{getInitials()}}</span>
    <img *ngIf="hasAvatar()" src="{{getAvatar()}}" />
</div>