:host {
    display: inline-block;
    padding: 2px;
    border-radius: 32px;
}

.user-label-image {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #C8D0DD;
}

.user-label-name {
    padding: 0px 8px;
    font-size: 13px;
}
