.user-label-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 15px;
    margin: 8px 0px;
}

.user-label-initials {
    background-color: #C8D0DD;
    color: #ffffff;
}

.user-label-image > img {
    width: 100%;
}

/* mobile */
@media only screen and (max-width: 1279px) {
    .user-label-image {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin: 8px 0px;
    }
}
